Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make yaml-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check --no-default-features'
  language: system
  pass_filenames: false

Fix: Invalid Embedding Classifier Configuration (#1114)
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Perf: Enable HNSW for Embedding Search
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/hnsw/hnsw.go
Due: go-fmt, golang-lint

feat: localize community pages to zh-Hans (#1099)
  website/i18n/zh-Hans/code.json
  website/src/components/TeamCarousel/index.tsx
  website/src/pages/community/code-of-conduct.tsx
  website/src/pages/community/contributing.tsx
  website/src/pages/community/promotion.tsx
  website/src/pages/community/team.tsx
  website/src/pages/community/work-groups.tsx
Due: js-ts-lint

feat(helm): add dependency-based stack support (#1098)
  .github/workflows/helm-publish.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/NOTES.txt
  deploy/helm/semantic-router/templates/_helpers.tpl
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/helm/deployer.go
  tools/make/helm.mk
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

feat(e2e): add Redis Responses API test profiles (#1115) (#1117)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  deploy/kubernetes/response-api/redis-cluster.yaml
  deploy/kubernetes/response-api/redis.yaml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/framework/runner.go
  e2e/pkg/profiles/responseapi/redis_profile.go
  e2e/profiles/response-api-redis-cluster/profile.go
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/profile.go
  e2e/profiles/response-api-redis/values.yaml
  e2e/testcases/response_api_basic.go
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

[BUG] Fix: reasoning_effort does not work well with openai/gptoss-120b (#1116)
  bench/reasoning/router_reason_bench_multi_dataset.py
  bench/router_reason_bench.py
  config/config.yaml
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Optimize: Add Soft Embeddings Match Rules (#1121)
  config/config.yaml
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/hnsw/hnsw.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat: complete language signal support with response headers and dashboard visualization (#1122)
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
Due: go-fmt, golang-lint, js-ts-lint

Playground: Add AMD Rlayground Recipes (#1125)
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_test.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

Playground: Update AMD Rlayground Recipes
  deploy/amd/README.md
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

feat: add Anthropic Claude backend support (#1070)
  config/envoy.yaml
  perf/go.mod
  perf/go.sum
  src/semantic-router/cmd/main.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/vllm-sr/Makefile
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/cli/validator.py
  website/docs/cookbook/anthropic-models.md
  website/sidebars.ts
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

Remove model filtering from semantic cache to enable cross-model cache sharing
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
Due: go-fmt, golang-lint

fix: update InMemoryCache test to match cross-model cache sharing behavior (#1127)
  src/semantic-router/pkg/cache/cache_test.go
Due: go-fmt, golang-lint

test(response-api): Error Handling support (#1120)
  deploy/docker-compose/docker-compose.response-api.yml
  e2e/README.md
  e2e/profiles/response-api/profile.go
  e2e/testcases/response_api_error_handling.go
  scripts/test-response-api-errors.sh
  tools/make/docker.mk
Due: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt

feat(selection): Core Algorithm Enhancements for Model Selection (#1104)
  examples/model_selection_enhanced.yaml
  src/semantic-router/pkg/apiserver/route_feedback.go
  src/semantic-router/pkg/apiserver/route_feedback_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/confidence_test.go
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/elo.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/router_dc.go
  src/semantic-router/pkg/selection/storage.go
  src/semantic-router/pkg/selection/storage_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Feat][Router]: Add pluggable storage backends with per-decision isolation for router replay (#1107)
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/factory.go
  src/semantic-router/pkg/routerreplay/store/memory.go
  src/semantic-router/pkg/routerreplay/store/milvus.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/redis.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat: add mmBERT model to candle-binding to support multilingual (#1040)
  candle-binding/examples/test_mmbert_lora.rs
  candle-binding/examples/test_mmbert_real.rs
  candle-binding/examples/test_mmbert_variant.rs
  candle-binding/semantic-router.go
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/core/config_loader.rs
  candle-binding/src/core/tokenization.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/common_lora_utils.py
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  src/training/training_lora/train_mmbert_gpu.sh
  tools/make/models.mk
Due: go-fmt, shellcheck, golang-lint, cargo-fmt, cargo-check

fix(plugins): enforce per-decision scoping for jailbreak plugin (#1126) (#1135)
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt, golang-lint

[Bugfix][Router] Enforce per-decision scoping for semantic-cache and add include_history control (#1136)
  deploy/amd/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/req_filter_jailbreak.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat(dashboard): add topology visualization with test query support (#1145)
  dashboard/backend/handlers/topology.go
  dashboard/backend/handlers/topology_test.go
  dashboard/backend/router/router.go
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/hooks/index.ts
  dashboard/frontend/src/hooks/useTheme.ts
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/TopologyPage.tsx
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/CollapseControls.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
  dashboard/frontend/src/pages/topology/components/ControlPanel/TestQueryInput.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/TopologyLegend.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/index.ts
  dashboard/frontend/src/pages/topology/components/CustomNodes/AlgorithmNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ClientNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DefaultRouteNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/FallbackDecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/GlobalPluginNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ModelNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/PluginChainNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/SignalGroupNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/index.ts
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/hooks/index.ts
  dashboard/frontend/src/pages/topology/hooks/useCollapseState.ts
  dashboard/frontend/src/pages/topology/hooks/useTestQuery.ts
  dashboard/frontend/src/pages/topology/hooks/useTopologyData.ts
  dashboard/frontend/src/pages/topology/index.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/api.ts
  dashboard/frontend/src/pages/topology/utils/layoutCalculator.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
Due: go-fmt, golang-lint, js-ts-lint

Feat: Support Thinking Parser in Dashboard (#1147)
  dashboard/README.md
  dashboard/backend/config/config.go
  dashboard/backend/handlers/settings.go
  dashboard/frontend/index.html
  dashboard/frontend/public/amd.png
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/PlatformBranding.module.css
  dashboard/frontend/src/components/PlatformBranding.tsx
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/components/ThinkingAnimation.tsx
  dashboard/frontend/src/components/ThinkingBlock.module.css
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/vllm-sr/cli/main.py
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

Feat: Support Topology Relaxing (#1148)
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/ThinkingBlock.module.css
  dashboard/frontend/src/hooks/useTheme.ts
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/LogsPage.tsx
  dashboard/frontend/src/pages/StatusPage.tsx
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/TestQueryInput.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/PluginChainNode.tsx
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/utils/layoutCalculator.ts
Due: js-ts-lint

feat: Multi-Domain Cache Embedding Training Pipeline (#1095)
  .gitignore
  src/training/cache_embeddings/README.md
  src/training/cache_embeddings/__init__.py
  src/training/cache_embeddings/common_utils.py
  src/training/cache_embeddings/docs/index.html
  src/training/cache_embeddings/domains/README.md
  src/training/cache_embeddings/domains/prompts.yaml
  src/training/cache_embeddings/evaluate_multi_domain.py
  src/training/cache_embeddings/generate_training_data.py
  src/training/cache_embeddings/lora_trainer.py
  src/training/cache_embeddings/test_lora_model.py
  src/training/cache_embeddings/train-domain.sh
  tools/linter/codespell/.codespell.ignorewords
  tools/linter/codespell/.codespell.skip
  tools/linter/shellcheck/.shellcheckrc
  tools/make/linter.mk
Due: shellcheck, md-fmt, yaml-and-yml-fmt

feat: add python cli support for router_replay plugin (#1123)
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/validate.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/validator.py
  src/vllm-sr/tests/test_plugin_parsing.py
  src/vllm-sr/tests/test_plugin_yaml_generation.py
Due: md-fmt, yaml-and-yml-fmt

feature: add latency signal (#1105)
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/latency_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/intro.md
  website/docs/overview/collective-intelligence.md
  website/docs/overview/goals.md
  website/docs/overview/signal-driven-decisions.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

Add mmBERT feedback detector pipeline with 4-class classification (#1150)
  src/training/modernbert_dissat_pipeline/.gitignore
  src/training/modernbert_dissat_pipeline/README.md
  src/training/modernbert_dissat_pipeline/__init__.py
  src/training/modernbert_dissat_pipeline/configs/__init__.py
  src/training/modernbert_dissat_pipeline/configs/config.py
  src/training/modernbert_dissat_pipeline/data_processing/__init__.py
  src/training/modernbert_dissat_pipeline/data_processing/download_datasets.py
  src/training/modernbert_dissat_pipeline/data_processing/verify_dataset_labels.py
  src/training/modernbert_dissat_pipeline/inference_feedback.py
  src/training/modernbert_dissat_pipeline/requirements.txt
  src/training/modernbert_dissat_pipeline/scripts/label_balanced_dataset.sh
  src/training/modernbert_dissat_pipeline/train_feedback_detector.py
Due: shellcheck, md-fmt

Fix: Deep Thinking Layout Color (#1151)
  dashboard/frontend/src/components/PlatformBranding.module.css
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/components/ThinkingAnimation.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/TestQueryInput.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt, js-ts-lint

feat(selection): Add Prometheus metrics for model selection evolution tracking (#1124)
  deploy/docker-compose/addons/model-selection-dashboard.json
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/selection/METRICS.md
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/elo.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/hybrid.go
  src/semantic-router/pkg/selection/metrics.go
  src/semantic-router/pkg/selection/metrics_test.go
  src/semantic-router/pkg/selection/router_dc.go
Due: go-fmt, golang-lint, md-fmt

Chore: Adjust The Node Side
  dashboard/frontend/src/pages/topology/components/CustomNodes/AlgorithmNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ClientNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DefaultRouteNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/FallbackDecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/GlobalPluginNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ModelNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/PluginChainNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/SignalGroupNode.tsx
Due: js-ts-lint

Chore: Adjust The Node Side
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/ModelNode.tsx
  dashboard/frontend/src/pages/topology/constants.ts
Due: js-ts-lint

Chore: Adjust The Node Side
  dashboard/backend/handlers/topology.go
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  src/semantic-router/pkg/services/classification.go
Due: go-fmt, golang-lint, js-ts-lint

Chore: Adjust The Node Side
  dashboard/backend/handlers/topology.go
Due: go-fmt, golang-lint

Fix: CI and Add Playground (#1164)
  README.md
  dashboard/frontend/src/pages/TracingPage.tsx
Due: md-fmt, js-ts-lint

Dashboard: Add Mobile Support (#1168)
  dashboard/frontend/index.html
  dashboard/frontend/public/manifest.json
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/DataTable.module.css
  dashboard/frontend/src/components/HeaderReveal.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
Due: js-ts-lint

[Feat][Router][Docs] Enhance hallucination detection with multi-level filtering (#1165)
  bench/hallucination/README.md
  bench/hallucination/config-7b.yaml
  bench/hallucination/evaluate.py
  config/config.yaml
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

fix: add language signal support to UI (#1163)
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: js-ts-lint

[feat] Additional operator enhancements to better support OpenShift platform (#1133)
  .github/workflows/operator-ci.yml
  deploy/operator/README.md
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/config/manager/manager.yaml
  deploy/operator/config/rbac/role.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_gateway.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_llamastack.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_openshift.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_route.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_simple.yaml
  deploy/operator/config/samples/vllm_v1alpha1_semanticrouter.yaml
  deploy/operator/config/samples/vllm_v1alpha1_semanticrouter.yaml.bak
  deploy/operator/controllers/backend_discovery.go
  deploy/operator/controllers/gateway_integration.go
  deploy/operator/controllers/openshift_integration.go
  deploy/operator/controllers/semanticrouter_controller.go
  deploy/operator/controllers/semanticrouter_controller_test.go
  deploy/operator/controllers/storage_validation.go
  deploy/operator/go.mod
  deploy/operator/go.sum
  deploy/operator/main.go
  website/docs/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

Feat: Add More Mobile Improves (#1171)
  dashboard/frontend/index.html
  dashboard/frontend/public/manifest.json
  dashboard/frontend/public/vllm-mobile.png
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/AnimatedBackground.module.css
  dashboard/frontend/src/components/AnimatedBackground.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/PlatformBranding.tsx
  dashboard/frontend/src/components/ThinkingAnimation.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  deploy/amd/config.yaml
  src/vllm-sr/cli/templates/config.template.yaml
Due: yaml-and-yml-fmt, js-ts-lint

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
