Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make yaml-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check --no-default-features'
  language: system
  pass_filenames: false

✨ feat(observability): add configurable Prometheus metrics endpoint, keep default enabled (#740)
  config/config.yaml
  config/observability/config.tracing.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Fix] workflow(owner-notification): fix workflow error (#756)
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

Add Comprehensive Test Coverage for Embedding-Based Signals (#749)
  .github/workflows/integration-test-dynamic-config.yml
  candle-binding/src/ffi/embedding.rs
  e2e/README.md
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/testcases/embedding_signal_routing.go
  e2e/testcases/testdata/embedding_signal_cases.json
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

Proposal: add TruthLens for Hallucination Detection and Mitigation (#758)
  website/docs/proposals/hallucination-mitigation-milestone.md
  website/sidebars.ts
Due: md-fmt, js-ts-lint

[Misc]: 🔧 chore(ci): simplify precommit-publish workflow by removing nightly date tag generation (#753)
  .github/workflows/precommit-publish.yml
Due: yaml-and-yml-fmt

[Feat] helm: use downloader image and add global.imageRegistry support (#759)
  deploy/helm/README.md
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
Due: md-fmt, yaml-and-yml-fmt

Add Qwen3Guard category extraction support (#761)
  candle-binding/semantic-router.go
  src/semantic-router/pkg/classification/vllm_classifier.go
Due: go-fmt, golang-lint

[CI] refactor helm publish workflow fix PR test error (#762)
  .github/workflows/helm-publish.yml
Due: yaml-and-yml-fmt

pii detection fix (#765)
  candle-binding/src/ffi/classify.rs
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/testdata/plugin_chain_cases.json
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/pii/policy.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt, cargo-fmt, cargo-check

feat(ci): Optimize CI workflows with concurrency and path filtering (#763)
  .github/workflows/ci-changes.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/publish-crate.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

fix podman supporting in docker-compose targets and quickstart.sh (#772)
  scripts/quickstart.sh
  tools/make/docker.mk
Due: shellcheck

fix skipped tests (#623)
  .github/workflows/integration-test-k8s.yml
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  e2e/profiles/aibrix/profile.go
  tools/make/models.mk
  tools/make/rust.mk
Due: go-fmt, golang-lint, yaml-and-yml-fmt, cargo-fmt, cargo-check

feat(tools): add HuggingFace Spaces playground for semantic router (#779)
  tools/hf-playground/README.md
  tools/hf-playground/app.py
  tools/hf-playground/requirements.txt
  tools/hf-playground/vllm-logo.png
Due: md-fmt

🔧 chore(ci): skip workflows for draft pull requests (#776)
  .github/workflows/docker-publish.yml
  .github/workflows/helm-publish.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/owner-notification.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

[e2e] Add production-stack profile (#767)
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/production-stack/prometheus-config.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/testcases/failover_during_traffic.go
  e2e/testcases/load_balancing_verification.go
  e2e/testcases/multi_replica_health.go
  e2e/testcases/performance_throughput.go
  e2e/testcases/resource_utilization_monitoring.go
  tools/make/e2e.mk
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

[Doc] Add Signal-Decision Architecture blog to README news (#783)
  README.md
  tools/hf-playground/app.py
Due: md-fmt

feat(cache): implement O(1) eviction policies and O(k) TTL cleanup (#781)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/eviction_policy.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt, golang-lint

ci: optimize docker integration tests with minimal compose (#786)
  .github/workflows/integration-test-docker.yml
  deploy/docker-compose/docker-compose.ci.yml
  tools/make/docker.mk
Due: yaml-and-yml-fmt

fix(dashboard): ensure devDependencies are installed during Docker build (#780)
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
Due: none

🔧 chore(kube): generate kind config if missing before cluster creation (#775)
  tools/make/kube.mk
Due: none

feat(classifier): enable LoRA auto-detection for intent classification (#726)
  .github/workflows/test-and-build.yml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/core/tokenization.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  config/config.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/lora_auto_detection_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt, cargo-fmt, cargo-check

feat: add time-windowed model metrics for load balancing (#742)
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics_test.go
  website/docs/tutorials/observability/metrics.md
Due: go-fmt, golang-lint, md-fmt

feat: use openai sdk replace map struct
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/consts/consts.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt, golang-lint

Initial PR for performance test on integration test that running on CI (#778)
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  Makefile
  e2e/pkg/performance/load_generator.go
  e2e/pkg/performance/metrics_collector.go
  perf/CI-STRATEGY.md
  perf/QUICKSTART.md
  perf/README.md
  perf/benchmarks/cache_bench_test.go
  perf/benchmarks/classification_bench_test.go
  perf/benchmarks/decision_bench_test.go
  perf/benchmarks/extproc_bench_test.go
  perf/cmd/perftest/main.go
  perf/config/perf.yaml
  perf/config/thresholds.yaml
  perf/go.mod
  perf/go.sum
  perf/pkg/benchmark/baseline.go
  perf/pkg/benchmark/config.go
  perf/pkg/benchmark/report.go
  perf/pkg/benchmark/runner.go
  perf/pkg/profiler/profiler.go
  perf/scripts/update-baseline.sh
  perf/testdata/examples/README.md
  perf/testdata/examples/benchmark-output-example.txt
  perf/testdata/examples/comparison-example.txt
  perf/testdata/examples/example-report.html
  perf/testdata/examples/example-report.json
  perf/testdata/examples/example-report.md
  perf/testdata/examples/pprof-example.txt
  perf/testdata/examples/pr-comment-example.md
  tools/make/performance.mk
Due: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt

fix(docs): correct minor typos and formatting in documentation files (#794)
  CONTRIBUTING.md
  README.md
  website/docs/installation/docker-compose.md
  website/docs/installation/k8s/istio.md
  website/docs/installation/k8s/llm-d.md
  website/docs/proposals/production-stack-integration.md
Due: md-fmt

fix(test): correct relative path for PII LoRA model in auto-detection test (#788)
  src/semantic-router/pkg/classification/lora_auto_detection_test.go
Due: go-fmt, golang-lint

docs: add redis cache doc to sidebar (#795)
  website/sidebars.ts
Due: js-ts-lint

perf(e2e): reduce test case count to optimize CI execution time (#797)
  e2e/testcases/testdata/domain_classify_cases.json
  e2e/testcases/testdata/jailbreak_detection_cases.json
  e2e/testcases/testdata/pii_detection_cases.json
Due: none

Add fact_check_fine_tuning_lora directory (#810)
  src/training/training_lora/fact_check_fine_tuning_lora/README.md
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/fact_check_fine_tuning_lora/setup_datasets.sh
Due: shellcheck, md-fmt

feat(deployment): add startupProbe for slow model loading (#809)
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router/deployment.yaml
Due: yaml-and-yml-fmt

feat(bench): Add reasoning mode evaluation benchmark (Issue #42) (#791)
  bench/README.md
  bench/pyproject.toml
  bench/reasoning_mode_eval.sh
  bench/vllm_semantic_router_bench/__init__.py
  bench/vllm_semantic_router_bench/cli.py
  bench/vllm_semantic_router_bench/reasoning_mode_eval.py
Due: shellcheck, md-fmt

Move model storage to /mnt directory to prevent disk space issues (#792)
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
  e2e/pkg/cluster/kind.go
  src/semantic-router/pkg/classification/model_discovery.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Feat][Memory] Add OpenAI Response API support (#802)
  config/testing/config.response-api.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/responseapi/id.go
  src/semantic-router/pkg/responseapi/store.go
  src/semantic-router/pkg/responseapi/translator.go
  src/semantic-router/pkg/responseapi/types.go
  src/semantic-router/pkg/responseapi/types_content.go
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/factory.go
  src/semantic-router/pkg/responsestore/interface.go
  src/semantic-router/pkg/responsestore/memory_store.go
  website/docs/tutorials/intelligent-route/router-memory.md
  website/sidebars.ts
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

fix: ci failures (#815)
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/istio/profile.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/routing-strategies/profile.go
Due: go-fmt, golang-lint

[DOC]✨ feat(milvus): add Milvus deployment into Kubernetes and semantic cache support (#773)
  tools/milvus/README.md
  tools/milvus/test-milvus-deployment.sh
  website/docs/installation/milvus.md
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/sidebars.ts
Due: shellcheck, md-fmt, js-ts-lint

feat(e2e): Add Dynamo E2E test profile with GPU support (#789)
  .github/workflows/integration-test-k8s.yml
  config/intelligent-routing/in-tree/generic_categories.yaml
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  deploy/kubernetes/dynamo/dynamo-resources/dynamo-graph-deployment.yaml
  deploy/kubernetes/dynamo/dynamo-resources/envoy-gateway-values.yaml
  deploy/kubernetes/dynamo/dynamo-resources/gwapi-resources.yaml
  deploy/kubernetes/dynamo/dynamo-resources/rbac.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router/config.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  deploy/openshift/openwebui/pvc.yaml
  e2e/cmd/e2e/main.go
  e2e/pkg/cluster/kind.go
  e2e/pkg/framework/runner.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/dynamo/profile.go
  e2e/testcases/dynamo_dynamic_batching.go
  e2e/testcases/dynamo_gpu_utilization.go
  e2e/testcases/dynamo_health_check.go
  e2e/testcases/dynamo_optimized_inference.go
  e2e/testcases/dynamo_performance_comparison.go
  tools/make/e2e.mk
  tools/observability/prometheus.yaml
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

feat(llm-katan): Add Kubernetes deployment support (#710)
  deploy/kubernetes/llm-katan/README.md
  deploy/kubernetes/llm-katan/base/deployment.yaml
  deploy/kubernetes/llm-katan/base/kustomization.yaml
  deploy/kubernetes/llm-katan/base/namespace.yaml
  deploy/kubernetes/llm-katan/base/pvc.yaml
  deploy/kubernetes/llm-katan/base/service.yaml
  deploy/kubernetes/llm-katan/components/common/kustomization.yaml
  deploy/kubernetes/llm-katan/overlays/claude/kustomization.yaml
  deploy/kubernetes/llm-katan/overlays/gpt35/kustomization.yaml
  deploy/kubernetes/llm-katan/verify-deployment.sh
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/pyproject.toml
  tools/make/kube.mk
Due: shellcheck, md-fmt, yaml-and-yml-fmt

Fix the perofrmacne test report (#801)
  .github/workflows/performance-nightly.yml
  .gitignore
  perf/scripts/update-baseline.sh
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: shellcheck, yaml-and-yml-fmt

feat(classifier): enable LoRA auto-detection for jailbreak classification (#812)
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  config/config.prompt_guard.vllm.yaml
  config/config.redis.yaml
  config/config.yaml
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/embedding.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/observability/config.tracing.yaml
  config/prompt-guard/jailbreak_domain.yaml
  config/semantic-cache/config.hybrid.yaml
  config/testing/config.e2e.yaml
  config/testing/config.testing.yaml
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
