Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make yaml-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check --no-default-features'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat: Add DeBERTa v3 prompt injection detection support
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/types.rs
  candle-binding/src/model_architectures/traditional/deberta_v3.rs
  candle-binding/src/model_architectures/traditional/deberta_v3_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  examples/candle-binding/deberta_prompt_injection_example.rs
  examples/candle-binding/test_raw_confidence.rs
  src/semantic-router/cmd/cache-benchmark/main.go
  src/semantic-router/pkg/cache/benchmark.go
Due: go-fmt, golang-lint, cargo-fmt, cargo-check

test: fail e2e tests when accuracy is 0%
  e2e/testcases/domain_classify.go
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/pii_detection.go
Due: go-fmt, golang-lint

✨ feat(helm): add support for extra initContainer env variables. (#679)
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
Due: yaml-and-yml-fmt

feat: Implement ReDoS-safe regex scanning provider (#644)
  candle-binding/regex_provider.go
  candle-binding/regex_provider_bench_test.go
  candle-binding/regex_provider_test.go
Due: go-fmt, golang-lint

Fix skipped model directory tests (#632)
  candle-binding/src/ffi/init.rs
  src/semantic-router/pkg/classification/classifier_test.go
  tools/make/models.mk
Due: go-fmt, golang-lint, cargo-fmt, cargo-check

feat: add Jaeger tracing observability to OpenShift deployment (#646)
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/observability/jaeger/deployment.yaml
  deploy/openshift/observability/jaeger/route.yaml
  deploy/openshift/observability/jaeger/service.yaml
Due: shellcheck, yaml-and-yml-fmt

Fix compilerBrokenImport on macOS M1 (#682)
  candle-binding/semantic-router.go
Due: go-fmt, golang-lint

fix: Grafana monitoring page iframe embedding and dynamic cluster configuration (#642)
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/MonitoringPage.tsx
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/observability/grafana/deployment.yaml
  deploy/openshift/tools_db.json
Due: go-fmt, shellcheck, golang-lint, yaml-and-yml-fmt, js-ts-lint

chore: update community meeting calendar (#685)
  README.md
Due: md-fmt

fix: fixed the font display issue on the team page in dark mode. (#689)
  website/src/pages/community/team.module.css
Due: none

Add E2E tests for keyword routing (#684)
  .github/workflows/unit-test-e2e-testcases.yml
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e-tests/testcases/helpers.go
  e2e-tests/testcases/keyword_routing_test.go
  e2e-tests/testcases/suite_test.go
  e2e-tests/testcases/testdata/keyword_routing_cases.json
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat: Add aibrix profile for E2E testing framework (#688)
  .github/workflows/integration-test-k8s.yml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/aibrix/profile.go
  tools/make/e2e.mk
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

chore: Delete test_file.txt (#697)
  test_file.txt
Due: none

infra(precommit): fix md precommit error (#700)
  tools/linter/markdown/markdownlint.yaml
Due: yaml-and-yml-fmt

📝 docs(gaie): add Gateway API inference extension docs (#664) (#677)
  deploy/kubernetes/istio/gateway.yaml
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/sidebars.ts
Due: md-fmt, yaml-and-yml-fmt, js-ts-lint

feat(e2e): Add comprehensive signal-decision engine test coverage (#695)
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/README.md
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/testcases/common.go
  e2e/testcases/decision_fallback.go
  e2e/testcases/decision_priority.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/plugin_config_variations.go
  e2e/testcases/rule_condition_logic.go
  website/docs/api/crd-reference.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

fix(pii): enable LoRA PII auto-detection with minimal changes (#709)
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix(api): expose actual PII confidence scores instead of hardcoded 0.9 (#718)
  config/testing/config.e2e.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Adjust Istio config to latest architecture(#711)
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/llmd-base/llmd+public-llm/httproute-openai.template
Due: md-fmt, yaml-and-yml-fmt

docs: add SEO config (#719)
  website/docusaurus.config.ts
  website/src/theme/Root.tsx
  website/static/robots.txt
Due: js-ts-lint

✨ doc(sidebars): add k8s istio and llm-d; add integration and MCP classification categories (#721)
  website/sidebars.ts
Due: js-ts-lint

fix: keep existing InMemory HNSW nodes searchable after eviction (#722)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt, golang-lint

📝 doc(architecture): add gateway integrations overview (#720)
  website/docs/overview/architecture/gateway-integrations.md
  website/sidebars.ts
Due: md-fmt, js-ts-lint

chore: adjust github ci exec condition (#704)
  .github/workflows/helm-publish.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

fix: move keyword routing tests to e2e framework and validate matched_keywords (#694)
  .github/workflows/integration-test-k8s.yml
  .github/workflows/unit-test-e2e-testcases.yml
  deploy/kubernetes/routing-strategies/aigw-resources/base-model.yaml
  deploy/kubernetes/routing-strategies/aigw-resources/gwapi-resources.yaml
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e-tests/testcases/helpers.go
  e2e-tests/testcases/keyword_routing_test.go
  e2e-tests/testcases/suite_test.go
  e2e-tests/testcases/testdata/keyword_routing_cases.json
  e2e/cmd/e2e/main.go
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/aibrix/profile.go
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/keyword_routing.go
  e2e/testcases/testdata/keyword_routing_cases.json
Due: go-fmt, golang-lint, yaml-and-yml-fmt

CI: Ignore docker compose integration
  .github/workflows/integration-test-docker.yml
Due: yaml-and-yml-fmt

fix the ci test for quickstart.sh script, In case we had failure in downloading embeddinggemma-300m, to fallback into minimal models (#737)
  .github/workflows/integration-test-docker.yml
  scripts/quickstart.sh
Due: shellcheck, yaml-and-yml-fmt

feat: add LLM-D profile for E2E testing framework (#705)
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/llm-d/manifests/httproute-services.yaml
  e2e/profiles/llm-d/manifests/inference-sim.yaml
  e2e/profiles/llm-d/manifests/rbac.yaml
  e2e/profiles/llm-d/profile.go
  e2e/profiles/llm-d/values.yaml
  tools/make/e2e.mk
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

feat: add RedisVL as new semantic cache storage (#734)
  Makefile
  candle-binding/src/model_architectures/traditional/deberta_v3_test.rs
  config/config.redis.yaml
  config/semantic-cache/redis.yaml
  examples/redis-cache-example.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  tools/make/redis.mk
  website/docs/tutorials/semantic-cache/redis-cache.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

docs(installation): update model_config examples and clarify vLLM backend setup
  website/docs/installation/configuration.md
  website/docs/installation/installation.md
Due: md-fmt

docs: add DeepWiki badge to README.md, enable auto refresh. (#744)
  README.md
Due: md-fmt

fix: rename server_keyword.py.py to server_keyword.py (#745)
  examples/mcp-classifier-server/server_keyword.py
Due: none

[feat]Support Qwen/Qwen3Guard-Gen-0.6B for prompt_guard (#748)
  config/config.prompt_guard.vllm.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/validator.go
  tools/make/golang.mk
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat(e2e): add comprehensive E2E test coverage for MCP classifier (#743)
  e2e/profiles/routing-strategies/profile.go
  e2e/profiles/routing-strategies/values-mcp.yaml
  e2e/testcases/mcp_common.go
  e2e/testcases/mcp_fallback_behavior.go
  e2e/testcases/mcp_http_classification.go
  e2e/testcases/mcp_model_reasoning.go
  e2e/testcases/mcp_probability_distribution.go
  e2e/testcases/mcp_stdio_classification.go
  e2e/testcases/testdata/mcp/mcp_fallback_cases.json
  e2e/testcases/testdata/mcp/mcp_http_cases.json
  e2e/testcases/testdata/mcp/mcp_model_reasoning_cases.json
  e2e/testcases/testdata/mcp/mcp_probability_cases.json
  e2e/testcases/testdata/mcp/mcp_stdio_cases.json
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat: optimize cache, add checkConnection (#739)
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
Due: go-fmt, golang-lint

[Bugfix]: owner-notification: checkout base repo (not PR head) to eliminate pull_request_target external code risk (#747)
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

feat(e2e): add Istio service mesh integration test profile (#728)
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/helpers/kubernetes.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/istio/profile.go
  e2e/testcases/common.go
  e2e/testcases/istio_mtls_verification.go
  e2e/testcases/istio_sidecar_health_check.go
  e2e/testcases/istio_tracing_observability.go
  e2e/testcases/istio_traffic_routing.go
  tools/make/e2e.mk
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

✨ feat: add model-downloader service with init container integration (#738)
  .github/workflows/docker-publish.yml
  Dockerfile.model-downloader
Due: yaml-and-yml-fmt

test: Redis CI bootstrap (#751)
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/cache/cache_test.go
  tools/make/build-run-test.mk
Due: go-fmt, golang-lint, yaml-and-yml-fmt
