Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python files only
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        files: \.(go|rs|py)$
    -   id: end-of-file-fixer
        files: \.(go|rs|py)$
    -   id: check-added-large-files
        args: ['--maxkb=500']
        files: \.(go|rs|py)$

# Go specific hooks
-   repo: local
    hooks:
    -   id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

# Rust specific hooks  
-   repo: local
    hooks:
    -   id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
    -   id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

# Python specific hooks
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    -   id: isort
        args: ["--profile", "black"]
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

docs: simplify estimation data content (#607)
  website/blog/2025-11-07-semantic-tool-selection.md
Due: none

Fix Milvus Vector Database Tests (#602)
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  tools/make/build-run-test.mk
  tools/make/milvus.mk
Due: go-fmt

fix: correct yaml linting hook to call yaml-lint instead of markdown-lint (#609)
  .pre-commit-config.yaml
Due: none

feat: add embedding model continuous batching scheduler (#564)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/semantic-router.go
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/model_architectures/embedding/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/embedding/mod.rs
  candle-binding/src/model_architectures/embedding/qwen3_batched.rs
  examples/candle-binding/README.md
  examples/candle-binding/qwen3_embedding_benchmark.go
  examples/candle-binding/qwen3_embedding_example.go
  examples/candle-binding/qwen3_embedding_verification.go
  scripts/run-cache-benchmark.sh
  src/semantic-router/cmd/cache-benchmark/main.go
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt, cargo-fmt, cargo-check

Revert "fix: correct yaml linting hook to call yaml-lint instead of markdown-…" (#610)
  .pre-commit-config.yaml
Due: none

chore: fix milvus cache unit test (#612)
  dashboard/backend/Dockerfile
  src/semantic-router/pkg/cache/milvus_cache.go
Due: go-fmt

fix: correct yaml linting hook and fix trailing spaces/comment spacing (#611)
  .pre-commit-config.yaml
  config/config.yaml
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/intelligent-routing/out-tree/config-mcp-classifier.yaml
  config/observability/config.tracing.yaml
  config/prompt-guard/pii_domain.yaml
  config/semantic-cache/config.hybrid.yaml
  deploy/docker-compose/docker-compose.yml
  deploy/kubernetes/ai-gateway/aigw-resources/base-model.yaml
  deploy/kubernetes/ai-gateway/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/ai-gateway/semantic-router/config.yaml
  deploy/kubernetes/ai-gateway/semantic-router/deployment.yaml
  deploy/kubernetes/aibrix/aigw-resources/base-model.yaml
  deploy/kubernetes/aibrix/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/deployment.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/destinationrule.yaml
  deploy/kubernetes/istio/envoyfilter.yaml
  deploy/kubernetes/istio/httproute-llama3-8b.yaml
  deploy/kubernetes/istio/httproute-phi4-mini.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-llama.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-phi4.yaml
  deploy/kubernetes/llmd-base/httproute-llama-pool.yaml
  deploy/kubernetes/llmd-base/httproute-phi4-pool.yaml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  deploy/kubernetes/observability/dashboard/config.yaml
  deploy/openshift/observability/prometheus/deployment.yaml
  deploy/openshift/template.yaml
  examples/semanticroute/comprehensive-example.yaml
  examples/semanticroute/multiple-routes.yaml
  tools/linter/go/.golangci.yml
  tools/linter/yaml/.yamllint
Due: none

Feat: fix-issue-336: Implement In-Tree Embedding Similarity Matching (#606)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt

feat(openshift): Split vllm-katan-a and vllm-katan-b to run on separate pods rather than the same semantic router pod. (#593)
  deploy/openshift/README-DYNAMIC-IPS.md
  deploy/openshift/README.md
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment.yaml
Due: none

chore: fix cache unit test (#613)
  src/semantic-router/pkg/cache/milvus_cache.go
Due: go-fmt

feat: add makefile linter
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  Dockerfile.precommit
  tools/linter/makefile/checkmake.ini
  tools/make/linter.mk
  tools/make/pre-commit.mk
Due: none

fix:Memory Management in FFI Error Handling (#614)
  candle-binding/src/ffi/embedding.rs
Due: cargo-fmt, cargo-check

fix: parse Milvus snake_case config fields correctly (#616)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
Due: go-fmt

feat: add helm support deploy support (#532)
  .github/workflows/helm-ci.yml
  Makefile
  deploy/helm/README.md
  deploy/helm/semantic-router/.helmignore
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/NOTES.txt
  deploy/helm/semantic-router/templates/_helpers.tpl
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/templates/hpa.yaml
  deploy/helm/semantic-router/templates/ingress.yaml
  deploy/helm/semantic-router/templates/namespace.yaml
  deploy/helm/semantic-router/templates/pvc.yaml
  deploy/helm/semantic-router/templates/service.yaml
  deploy/helm/semantic-router/templates/serviceaccount.yaml
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-example.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/helm/validate-chart.sh
  tools/kind/generate-kind-config.sh
  tools/linter/yaml/.yamllint
  tools/make/helm.mk
Due: none

infra(ci): add GHA exec condition (#619)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-validate-manifests.yml
  .github/workflows/owner-notification.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/publish-crate.yml
  .github/workflows/quickstart-integration-test.yml
  .github/workflows/test-and-build.yml
Due: none

[Refactor] Remove ClassifyCategory and add embedding classifier config (#620)
  config/intelligent-routing/in-tree/embedding.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt

fix skipped tests (#621)
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/lora/token_lora.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  tools/make/rust.mk
Due: go-fmt, cargo-fmt, cargo-check

fix: update editUrl in docusaurus config to point to the correct website directory (#622)
  website/docusaurus.config.ts
Due: none

fix: auto-generate lora_config.json in training script
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

Update the doc wording, use the official llm-d container image (#631)
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
Due: none

test: use LoRA intent classifiers in E2E tests and improve test queries (#630)
  config/testing/config.e2e.yaml
  e2e-tests/03-classification-api-test.py
Due: none

feat: removes the dependency of `once_cell` (#633)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/state_manager.rs
Due: cargo-fmt, cargo-check

[Doc] Reorganize intelligent routing tutorials into focused guides (#636)
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
  website/docs/tutorials/intelligent-route/overview.md
  website/docs/tutorials/intelligent-route/reasoning.md
  website/sidebars.ts
Due: none

Fix OpenShift Dashboard Playground OpenWebUI Connection (#634)
  dashboard/Dockerfile
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  deploy/openshift/README.md
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/config-openshift.yaml
  deploy/openshift/dashboard/PlaygroundPage.tsx.patch
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/build-custom-dashboard.sh
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment.yaml
  deploy/openshift/observability/README.md
  deploy/openshift/openwebui/README.md
  deploy/openshift/openwebui/route.yaml
Due: none

fix(openshift): add ChatUI (HuggingChat) deployment with MongoDB support (#637)
  deploy/openshift/chatui/README.md
  deploy/openshift/chatui/deployment.yaml
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/mongo/README.md
  deploy/openshift/mongo/deployment.yaml
Due: none

Test: Validate Unified Classifier correctly chooses between LoRA path and Traditional path for inference. (#639)
  e2e-tests/07-router-path-selection-test.py
Due: none

chore(workflow): add Anti-Spam Comment Moderator; CJK spam; attack/insult/tech-context; block phuole818; remove unsupported commit_comment
  .github/workflows/anti-spam-comment-moderator.yml
Due: none

chore(workflow): only block attacking comments; ignore links/emails/phones in scoring
  .github/workflows/anti-spam-comment-moderator.yml
Due: none

[Feat]: VSR + public LLM/ OpenAI + local llm + istio + LLM-d deployment guide (#643)
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/llmd-base/llmd+public-llm/dest-rule-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/httproute-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-entry-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-openai.yaml
Due: none

ci(helm): add workflow to publish Helm chart to GHCR on merge (#649)
  .github/workflows/helm-publish.yml
Due: none

fix(helm): remove namespace template to resolve installation conflicts (#651)
  .github/workflows/helm-ci.yml
  deploy/helm/semantic-router/templates/namespace.yaml
  deploy/helm/validate-chart.sh
Due: none

docs: update Kubernetes installation guides to use Helm with online values files
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
Due: none

chore: reduce initial delay for liveness and readiness probes (#652)
  deploy/helm/semantic-router/values.yaml
Due: none

[Doc] Migrate Helm README to helm-docs format and remove example values files (#653)
  .github/workflows/helm-ci.yml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-example.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/helm/validate-chart.sh
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/sidebars.ts
Due: none

[Integration]: Add integration with Kserve functionality (#566)
  deploy/kserve/README.md
  deploy/kserve/configmap-envoy-config.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/deployment.yaml
  deploy/kserve/example-multi-model-config.yaml
  deploy/kserve/inference-examples/README.md
  deploy/kserve/inference-examples/inferenceservice-granite32-8b.yaml
  deploy/kserve/inference-examples/servingruntime-granite32-8b.yaml
  deploy/kserve/kustomization.yaml
  deploy/kserve/peerauthentication.yaml
  deploy/kserve/pvc.yaml
  deploy/kserve/route.yaml
  deploy/kserve/service-predictor-stable.yaml
  deploy/kserve/service.yaml
  deploy/kserve/serviceaccount.yaml
  deploy/kserve/test-semantic-routing.sh
Due: none

chore: enhance moderator (#670)
  .github/workflows/anti-spam-comment-moderator.yml
  .github/workflows/cleanup-existing-spam.yml
Due: none

chore: refactor spam filter (#671)
  .github/workflows/anti-spam-comment-moderator.yml
  .github/workflows/anti-spam-filter.yml
  .github/workflows/cleanup-existing-spam.yml
Due: none

chore: refactor spam filter (#672)
  .github/workflows/anti-spam-filter.yml
  .github/workflows/cleanup-existing-spam.yml
Due: none

feat(e2e): enhance setup-only mode and add startup banner (#673)
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/banner/banner.go
  e2e/pkg/framework/runner.go
  e2e/testcases/chat_completions_progressive_stress.go
  tools/make/e2e.mk
Due: go-fmt
