Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make yaml-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check --no-default-features'
  language: system
  pass_filenames: false

fix: initialize embedding models before semantic cache (#928) (#948)
  src/semantic-router/cmd/main.go
Due: go-fmt, golang-lint

Feat: Support Path Suffix for LLM Endpoints (#949)
  src/semantic-router/cmd/main.go
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/templates/envoy.template.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix(services): return real model names from config in getRecommendedModel (#933)
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/services/classification_test.go
Due: go-fmt, golang-lint

[CI] test(response-api): add E2E translation tests for Response API (#881)
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint

docs: Fix installation typo (#965)
  website/sidebars.ts
Due: js-ts-lint

ci(e2e): add Response API K8s integration test workflow (#882)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

fix: initialize batched embedding modelfor qwen3 semantic cache (#954)
  src/semantic-router/cmd/main.go
Due: go-fmt, golang-lint

fix(dashboard): resolve config update permission denied error (#962)
  dashboard/backend/Dockerfile
  dashboard/backend/entrypoint.sh
  deploy/docker-compose/docker-compose.yml
Due: shellcheck, yaml-and-yml-fmt

docs: fix index dsiplay error (#959)
  website/src/components/TeamCarousel/styles.module.css
Due: none

[CI/Build][Dashboard] Fix OpenShift dashboard build context and config map paths (#951)
  dashboard/Dockerfile
  deploy/openshift/deploy-to-openshift.sh
Due: shellcheck

test(dashboard): add file persistence tests for config updates (#963)
  dashboard/backend/handlers/config_test.go
Due: go-fmt, golang-lint

Add Dashboard support to Python CLI (#960)
  src/vllm-sr/Dockerfile
  src/vllm-sr/README.md
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/start-dashboard.sh
  src/vllm-sr/supervisord.conf
Due: shellcheck, md-fmt

fix(dashboard): return 404 instead of 500 when tools_db.json not found (#972)
  dashboard/backend/handlers/tools.go
Due: go-fmt, golang-lint

[Bugfix] Fix PII mapping path to match deployed model directory (#970)
  deploy/openshift/config-openshift.yaml
Due: yaml-and-yml-fmt

Complete rebase: Add Gemma model support with graceful skip for gated models (#816)
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/embedding.rs
  deploy/docker-compose/docker-compose.ci.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/framework/runner.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/modeldownload/downloader.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt, cargo-fmt, cargo-check

Support running llm-katan on XPU Platform (#969)
  e2e/testing/llm-katan/README.md
  e2e/testing/llm-katan/llm_katan/cli.py
  e2e/testing/llm-katan/llm_katan/config.py
  e2e/testing/llm-katan/llm_katan/model.py
  e2e/testing/llm-katan/pyproject.toml
  e2e/testing/llm-katan/requirements_xpu.txt
Due: md-fmt

🔧 chore(pre-commit): show file count instead of list (#968)
  tools/make/pre-commit.mk
Due: none

🔧 chore(make): add deps.mk for func-e and unified external binary tool management (#886)
  .gitignore
  Makefile
  tools/make/deps.mk
  tools/make/envoy.mk
Due: none

Fix(CI): Resolve The E2E Testing (#1013)
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  deploy/docker-compose/docker-compose.ci.yml
  e2e/cmd/e2e/main.go
  e2e/go.mod
  e2e/go.sum
  e2e/pkg/performance/load_generator.go
  tools/make/e2e.mk
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Add Python CLI config format support with read/edit (#1019)
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/TopologyPage.tsx
  dashboard/frontend/src/types/config.ts
  src/vllm-sr/cli/commands/init.py
  src/vllm-sr/cli/docker_cli.py
Due: js-ts-lint

feat(cli): add Podman container runtime support (#982)
  src/vllm-sr/cli/docker_cli.py
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
Due: md-fmt

Chore: Disable Stack Build and Test
  .github/workflows/docker-publish.yml
Due: yaml-and-yml-fmt

chore: add registry for npm deps
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
  src/vllm-sr/Dockerfile
  tools/docker/Dockerfile.stack
Due: none

chore: remove legacy Kustomize manifests in favor of Helm chart (#978)
  deploy/kubernetes/ai-gateway/semantic-router/config.yaml
  deploy/kubernetes/ai-gateway/semantic-router/deployment.yaml
  deploy/kubernetes/ai-gateway/semantic-router/kustomization.yaml
  deploy/kubernetes/ai-gateway/semantic-router/namespace.yaml
  deploy/kubernetes/ai-gateway/semantic-router/pv-models.yaml
  deploy/kubernetes/ai-gateway/semantic-router/service.yaml
  deploy/kubernetes/ai-gateway/semantic-router/tools_db.json
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/deployment.yaml
  deploy/kubernetes/aibrix/semantic-router/kustomization.yaml
  deploy/kubernetes/aibrix/semantic-router/namespace.yaml
  deploy/kubernetes/aibrix/semantic-router/pv-models.yaml
  deploy/kubernetes/aibrix/semantic-router/service.yaml
  deploy/kubernetes/aibrix/semantic-router/tools_db.json
Due: yaml-and-yml-fmt

[Feat] implement signal parallelism in EvaluateAllSignals (#1023)
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt, golang-lint

[Feat][CI/Build] Add OpenShift simulator backend for vSR (#981)
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment-simulator.yaml
Due: shellcheck, yaml-and-yml-fmt

[Feat] Add multi-model routing demo (#1025)
  deploy/examples/multi-model-routing/README.md
  deploy/examples/multi-model-routing/config.yaml
  deploy/examples/multi-model-routing/docker-compose-models.yml
  deploy/examples/multi-model-routing/requirements.txt
  deploy/examples/multi-model-routing/run_demo.py
  deploy/examples/multi-model-routing/start_demo.sh
Due: shellcheck, md-fmt, yaml-and-yml-fmt

[Feat]: Enable CLI-based Helm deployment with smart defaults (#957)
  deploy/examples/multi-model-routing/README.md
  deploy/examples/multi-model-routing/docker-compose-models.yml
  deploy/examples/multi-model-routing/run_demo.py
  deploy/examples/multi-model-routing/start_demo.sh
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  deploy/kubernetes/dynamo/dynamo-resources/gwapi-resources.yaml
  deploy/kubernetes/dynamo/helm-chart/Chart.yaml
  deploy/kubernetes/dynamo/helm-chart/examples/values-multi-model.yaml
  deploy/kubernetes/dynamo/helm-chart/examples/values-multi-node.yaml
  deploy/kubernetes/dynamo/helm-chart/templates/NOTES.txt
  deploy/kubernetes/dynamo/helm-chart/templates/_helpers.tpl
  deploy/kubernetes/dynamo/helm-chart/templates/configmap.yaml
  deploy/kubernetes/dynamo/helm-chart/templates/dynamo-graph-deployment.yaml
  deploy/kubernetes/dynamo/helm-chart/templates/service.yaml
  deploy/kubernetes/dynamo/helm-chart/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/stack/config.stack.yaml
  e2e/profiles/dynamo/profile.go
  e2e/testcases/dynamo_health_check.go
  src/semantic-router/cmd/vsr/config/config.yaml
  tools/observability/prometheus.yaml
  website/docs/installation/k8s/dynamo.md
Due: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt

chore: update package-lock.json
  dashboard/frontend/package-lock.json
  website/package-lock.json
Due: none

Optimize: Speed-Up Signal Extraction (#1027)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/signal_skip_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/pyproject.toml
  src/vllm-sr/supervisord.conf
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: set file descriptor limits to 65536 to resolve Envoy initialization failure (#1026)
  README.md
  deploy/docker-compose/docker-compose.yml
  deploy/stack/supervisord.stack.conf
  src/vllm-sr/README.md
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/supervisord.conf
Due: md-fmt, yaml-and-yml-fmt

[Bugfix] Fix keyword matching inconsistency in e2e tests (#828)
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/rule_condition_logic.go
  e2e/testcases/testdata/keyword_routing_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: show unique model count in logs instead of alias count (#1029)
  src/semantic-router/cmd/main.go
Due: go-fmt, golang-lint

[Feat] align Classification API server with signal-driven architecture (#1032)
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/services/classification_test.go
Due: go-fmt, golang-lint

Refactor: Layout and UI for Dashboard (#1034)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderReveal.module.css
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  dashboard/frontend/src/pages/LogsPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/StatusPage.module.css
  dashboard/frontend/src/pages/StatusPage.tsx
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/extproc/router.go
  src/vllm-sr/Makefile
  tools/make/docker.mk
Due: go-fmt, golang-lint, js-ts-lint

dashboard sidebar refactor (#1035)
  dashboard/backend/handlers/config.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/TopologyPage.module.css
  dashboard/frontend/src/pages/TopologyPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

Dashboard: Re-Organize the Layout and Functionality (#1036)
  dashboard/backend/handlers/logs.go
  dashboard/backend/handlers/status.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/LandingPage.tsx
  dashboard/frontend/src/pages/LogsPage.module.css
  dashboard/frontend/src/pages/LogsPage.tsx
  src/vllm-sr/supervisord.conf
Due: go-fmt, golang-lint, js-ts-lint

Dashboard: Refactor Data Management (#1038)
  dashboard/frontend/src/components/DataTable.module.css
  dashboard/frontend/src/components/DataTable.tsx
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/EndpointsEditor.module.css
  dashboard/frontend/src/components/EndpointsEditor.tsx
  dashboard/frontend/src/components/TableHeader.module.css
  dashboard/frontend/src/components/TableHeader.tsx
  dashboard/frontend/src/components/ViewModal.module.css
  dashboard/frontend/src/components/ViewModal.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
Due: js-ts-lint

read Router Config from router-defaults.yaml (#1037)
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: js-ts-lint

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
