Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

chore: add github action badge in README (#102)
  .github/workflows/test-and-build.yml
  README.md
Due: none

refactor: use slices.Contains for readability and consistency (#104)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/utils/pii/policy.go
Due: go-fmt

test: add more test cases and refactor SelectBestModelForCategory/SelectBestModelFromList/InitializeJailbreakClassifier for testability (#101)
  config/config.yaml
  deploy/kubernetes/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/security_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/classifier_test.go
  src/training/model_eval/result_to_config.py
Due: go-fmt

docs: add github action badge for docs index (#103)
  src/semantic-router/cmd/main.go
  src/semantic-router/go.mod
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/parse_configfile_test.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/edge_cases_test.go
  src/semantic-router/pkg/extproc/endpoint_selection_test.go
  src/semantic-router/pkg/extproc/reason_mode_config_test.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/reason_mode_selector_test.go
  src/semantic-router/pkg/extproc/reasoning_integration_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/request_processing_test.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/security_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/stream_handling_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/metrics/metrics.go
  src/semantic-router/pkg/metrics/metrics_test.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/classifier_test.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/pii/policy.go
  website/docs/intro.md
Due: go-fmt

feat: add milvus persistent storage support (#105)
  Makefile
  config/cache/milvus.yaml
  config/config.yaml
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/metrics/metrics.go
Due: go-fmt

Slight readme changes (#25)
  README.md
Due: none

refactor: move classifier model init to classifier.go and unify the classifier model init logic (#113)
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/security_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/classifier_test.go
Due: go-fmt

docs: add eslint check for docs website (#114)
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  website/docusaurus.config.js
  website/eslint.config.mjs
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/AIChipAnimation.js
  website/src/components/AcknowledgementsSection/index.js
  website/src/components/HomepageFeatures/index.js
  website/src/components/NeuralNetworkBackground.js
  website/src/components/TypewriterCode.js
  website/src/pages/community/code-of-conduct.js
  website/src/pages/community/contributing.js
  website/src/pages/community/team.js
  website/src/pages/community/work-groups.js
  website/src/pages/index.js
  website/src/pages/roadmap/v0.1.js
Due: none

Refactor: use worker pool for batch classification concurrency (#115)
  src/semantic-router/pkg/api/server.go
Due: go-fmt

feat: add comprehensive unit tests for entropy-based routing. Tests c… (#112)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/lib.rs
  candle-binding/src/modernbert.rs
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/metrics/metrics.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/classifier_test.go
  src/semantic-router/pkg/utils/entropy/entropy.go
  src/semantic-router/pkg/utils/entropy/entropy_test.go
Due: go-fmt, cargo-fmt, cargo-check

docs: reasoning quickstart (#110)
  website/docs/getting-started/reasoning-routing-quickstart.md
  website/sidebars.js
Due: none

o11y: Add TTFT and TPOT histograms for SLOs (#126)
  src/semantic-router/go.mod
  src/semantic-router/pkg/extproc/metrics_integration_test.go
  src/semantic-router/pkg/extproc/processor.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/request_processing_test.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/extproc/testing_helpers_test.go
  src/semantic-router/pkg/metrics/metrics.go
Due: go-fmt

docs: add markdown lint check and fix md lint style (#117)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  candle-binding/README.md
  deploy/kubernetes/README.md
  docker/README.md
  e2e-tests/README.md
  markdownlint.yaml
  src/training/dual_classifier/DUAL_CLASSIFIER_SYSTEM_TEST_SUMMARY.md
  src/training/dual_classifier/README.md
  src/training/dual_classifier/trained_model/README.md
  website/README.md
  website/blog/2025-09-06-welcome.md
  website/docs/api/classification.md
  website/docs/api/router.md
  website/docs/architecture/system-architecture.md
  website/docs/getting-started/configuration.md
  website/docs/getting-started/installation.md
  website/docs/getting-started/reasoning-routing-quickstart.md
  website/docs/intro.md
  website/docs/overview/mixture-of-models.md
  website/docs/overview/semantic-router-overview.md
  website/docs/training/training-overview.md
Due: none

Feature Enhancement: Batch Inference Support in candle-binding (#71)
  Makefile
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/bert_official.rs
  candle-binding/src/lib.rs
  candle-binding/src/unified_classifier.rs
  config/config.yaml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/services/classification_test.go
  src/semantic-router/pkg/utils/classification/model_discovery.go
  src/semantic-router/pkg/utils/classification/model_discovery_test.go
  src/semantic-router/pkg/utils/classification/unified_classifier.go
  src/semantic-router/pkg/utils/classification/unified_classifier_test.go
  src/training/training_lora/README.md
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora_verifier.go
  src/training/training_lora/classifier_model_fine_tuning_lora/go.mod
  src/training/training_lora/classifier_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/common_lora_utils.py
  src/training/training_lora/pii_model_fine_tuning_lora/go.mod
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora_verifier.go
  src/training/training_lora/pii_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/prompt_guard_fine_tuning_lora/go.mod
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora_verifier.go
  src/training/training_lora/prompt_guard_fine_tuning_lora/train_cpu_optimized.sh
  website/docs/api/classification.md
  website/docs/training/training-overview.md
Due: go-fmt, cargo-fmt, cargo-check

infra: add yaml lint check and fix yaml style (#131)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .yamllint
  Makefile
  config/cache/milvus.yaml
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  docker-compose.yml
Due: none

perf: enable concurrent classification via Arc+clone (#127)
  Makefile
  candle-binding/semantic-router_test.go
  candle-binding/src/modernbert.rs
Due: go-fmt, cargo-fmt, cargo-check

feat: implement dataset-agnostic router reasoning benchmark (#125)
  bench/LICENSE
  bench/MANIFEST.in
  bench/README.md
  bench/benchmark_comparison.sh
  bench/build_and_test.sh
  bench/comprehensive_bench.sh
  bench/pyproject.toml
  bench/requirements.txt
  bench/router_reason_bench.py
  bench/run_bench.sh
  bench/setup.py
  bench/vllm_semantic_router_bench/__init__.py
  bench/vllm_semantic_router_bench/bench_plot.py
  bench/vllm_semantic_router_bench/cli.py
  bench/vllm_semantic_router_bench/dataset_factory.py
  bench/vllm_semantic_router_bench/dataset_implementations/__init__.py
  bench/vllm_semantic_router_bench/dataset_implementations/arc_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/commonsenseqa_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/gpqa_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/hellaswag_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/mmlu_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/truthfulqa_dataset.py
  bench/vllm_semantic_router_bench/dataset_interface.py
  bench/vllm_semantic_router_bench/router_reason_bench_multi_dataset.py
Due: none

o11y: Add request error counters (#132)
  src/semantic-router/pkg/extproc/error_metrics_test.go
  src/semantic-router/pkg/extproc/processor.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/metrics/metrics.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt

logging: unify stdlib log usage to pkg/observability (zap) (#134)
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/extproc/model_selector.go
  src/semantic-router/pkg/extproc/processor.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/tools/tools.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/unified_classifier.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/pii/policy.go
Due: go-fmt

fix: add comments for readability (#135)
  src/training/model_eval/arc_challenge_vllm_eval.py
  src/training/model_eval/mmlu_pro_vllm_eval.py
Due: none

project: add issue manager
  .github/workflows/issue-manager.yml
  .prowlabels.yaml
Due: none

docs(installation): update Go version requirement and add test tip for model downloads (#146)
  website/docs/getting-started/installation.md
Due: none

docs: reorder the quickstart pages (#143)
  website/docs/getting-started/configuration.md
  website/docs/getting-started/reasoning.md
  website/sidebars.js
Due: none

project: add ack for kubernetes (#141)
  website/src/components/AcknowledgementsSection/data.json
  website/static/img/acknowledgements/k8s-logo.png
Due: none

docs: sync blog from official (#142)
  website/blog/2025-09-06-welcome.md
Due: none

infra: refactor makefile (#149)
  Makefile
  tools/make/OWNER
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/docs.mk
  tools/make/envoy.mk
  tools/make/envs.mk
  tools/make/golang.mk
  tools/make/linter.mk
  tools/make/milvus.mk
  tools/make/models.mk
  tools/make/rust.mk
Due: none

infra: update Dockerfile.extproc (#158)
  Dockerfile.extproc
Due: none

fix: use request id to locate the correct cache entry to update (#154)
  CONTRIBUTING.md
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/extproc/error_metrics_test.go
  src/semantic-router/pkg/extproc/metrics_integration_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/extproc/testing_helpers_test.go
  tools/make/common.mk
  tools/make/milvus.mk
Due: go-fmt

feat: add codespell check and tidy linter check config files (#159)
  .github/workflows/pre-commit.yml
  tools/OWNER
  tools/linter/codespell/.codespell.ignorewords
  tools/linter/codespell/.codespell.skip
  tools/linter/markdown/markdownlint.yaml
  tools/linter/yaml/.yamllint
  tools/make/linter.mk
Due: none

Bugfix: miss copy tools dir (#161)
  Dockerfile.extproc
Due: none

metrics: Add request-level token histograms (#157)
  deploy/llm-router-dashboard.json
  src/semantic-router/pkg/consts/consts.go
  src/semantic-router/pkg/extproc/metrics_integration_test.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/metrics/metrics.go
Due: go-fmt

docs: add repo URL in docker/README.md (#163)
  docker/README.md
Due: none

remove discarded fields from documents (#165)
  website/docs/getting-started/installation.md
Due: none

Correct tools directory copy command in Dockerfile (#171)
  Dockerfile.extproc
Due: none

feat: add basic cache eviction policy: LRU/LFU/FIFO (#166)
  config/config.yaml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/eviction_policy.go
  src/semantic-router/pkg/cache/eviction_policy_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_cache_integration_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  website/docs/getting-started/configuration.md
Due: go-fmt

docs: Model Performance Evaluation Guide (#136)
  website/docs/training/model-performance-eval.md
  website/docs/training/training-overview.md
  website/sidebars.js
  website/static/img/bar.png
  website/static/img/heatmap.png
Due: none

api: add semantic route support (#147)
  deploy/kubernetes/crds/vllm.ai_semanticroutes.yaml
  examples/semanticroute/README.md
  examples/semanticroute/complex-filter-chain.yaml
  examples/semanticroute/comprehensive-example.yaml
  examples/semanticroute/multiple-routes.yaml
  examples/semanticroute/simple-intent-routing.yaml
  examples/semanticroute/tool-selection-example.yaml
  examples/semanticroute/weighted-routing.yaml
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/hack/boilerplate.go.txt
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/doc.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_helpers.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/register.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/zz_generated.deepcopy.go
  tools/make/golang.mk
Due: go-fmt

infra: update Dockerfile.extproc (#169)
  .github/workflows/docker-publish.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  Dockerfile.precommit
  Makefile
  tools/make/pre-commit.mk
Due: none

chore: add just max token for different models in router bench
  bench/vllm_semantic_router_bench/router_reason_bench_multi_dataset.py
Due: none

feat: add more content for contribution docs (#175)
  tools/make/linter.mk
  website/src/pages/community/community-page.module.css
  website/src/pages/community/contributing.js
Due: none

Path conditions:
  go-fmt: any of: \.go$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
