Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make yaml-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check --no-default-features'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Feat/web search tool (#1172)
  dashboard/backend/handlers/websearch.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ErrorBoundary.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/MarkdownRenderer.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/hooks/useNoTranslate.ts
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/tools/executors/webSearch.ts
  dashboard/frontend/src/tools/hooks/useToolRegistry.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/registry.ts
  dashboard/frontend/src/tools/types.ts
Due: go-fmt, golang-lint, js-ts-lint

[Feat] implement Demand RAG (Retrieval-Augmented Generation) plugin (#1152)
  docs/RAG_OPENAI_GUIDE.md
  e2e/testcases/rag_openai.go
  e2e/testing/08-rag-openai-test.py
  e2e/testing/run_all_tests.py
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/req_filter_fact_check.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_rag_cache.go
  src/semantic-router/pkg/extproc/req_filter_rag_external.go
  src/semantic-router/pkg/extproc/req_filter_rag_hybrid.go
  src/semantic-router/pkg/extproc/req_filter_rag_mcp.go
  src/semantic-router/pkg/extproc/req_filter_rag_milvus.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai_test.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/observability/metrics/rag_metrics.go
  src/semantic-router/pkg/observability/tracing/tracing.go
  src/semantic-router/pkg/openai/filestore.go
  src/semantic-router/pkg/openai/filestore_test.go
  src/semantic-router/pkg/openai/vectorstore.go
  src/semantic-router/pkg/openai/vectorstore_test.go
Due: go-fmt, golang-lint, md-fmt

Fix: Docker AMD Deploy CMD Steps
  .github/workflows/docker-publish.yml
  deploy/amd/README.md
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

feat: support web search capability (#1181)
  dashboard/backend/handlers/openweb.go
  dashboard/backend/handlers/websearch.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/tools/executors/openWeb.ts
  dashboard/frontend/src/tools/executors/webSearch.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/registry.ts
  dashboard/frontend/src/tools/types.ts
Due: go-fmt, golang-lint, js-ts-lint

Opt: Candidates and Chat UI (#1182)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  deploy/amd/README.md
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt, js-ts-lint

chore: remove tracked binary dashboard-server and add to gitignore (#1174)
  .gitignore
Due: none

Feat: Add Cache metrics (#1183)
  deploy/amd/config.yaml
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/vllm-sr/cli/templates/generate_dashboard.py
  src/vllm-sr/cli/templates/llm-router-dashboard.serve.json
  website/i18n/zh-Hans/code.json
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: go-fmt, golang-lint, yaml-and-yml-fmt, js-ts-lint

docs: fix broken link for System Architecture in README (#1186)
  README.md
Due: md-fmt

[Feat][Router] Add context signal for token count-based routing (#1109)
  dashboard/backend/handlers/topology.go
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/context_classifier.go
  src/semantic-router/pkg/classification/context_classifier_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/token_count_test.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_context_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/services/classification.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/validator.py
  website/docs/api/crd-reference.md
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/intelligent-route/context-routing.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

fix: incorrect keyword rule names (#1184)
  src/semantic-router/pkg/extproc/req_filter_classification.go
Due: go-fmt, golang-lint

follow-up: add missing capacities for context signal (#1187)
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/types/config.ts
  deploy/amd/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  website/docs/tutorials/intelligent-route/context-routing.md
  website/src/pages/index.tsx
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

update docs to include observability dashboards (#1188)
  src/vllm-sr/README.md
Due: md-fmt

feat(dashboard): integrate logo inline with title on landing page (#1189)
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt, js-ts-lint

chore: update config yaml for signal alignment
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

feat(responses-api): verify redis persistence #1115 (#1185)
  e2e/testcases/response_api_basic.go
Due: go-fmt, golang-lint

fix(classification): ensure latency signals match exclusively (#1192)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderReveal.module.css
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/latency_classifier.go
  website/src/css/custom.css
Due: go-fmt, golang-lint, js-ts-lint

KServe simulator deploy for OpenShift (#1190)
  deploy/kserve/configmap-envoy-config-simulator.yaml
  deploy/kserve/configmap-router-config-simulator.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/inference-examples/README.md
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-a.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-b.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim.yaml
  deploy/kserve/install-kserve.sh
  deploy/kserve/route.yaml
  deploy/kserve/test-semantic-routing.sh
  deploy/openshift/README.md
  deploy/openshift/deploy-to-openshift.sh
Due: shellcheck, md-fmt, yaml-and-yml-fmt

[feat]: Introducing various caching engines to the operator (#1175)
  .github/workflows/operator-ci.yml
  .gitignore
  deploy/operator/README.md
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/config/rbac/role.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_hybrid_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_milvus_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_redis_cache.yaml
  deploy/operator/controllers/helpers.go
  deploy/operator/controllers/helpers_test.go
  deploy/operator/controllers/semanticrouter_controller.go
  website/docs/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

feat(e2e): add e2e tests for vllm-sr Docker CLI (#1014) (#1161)
  .github/workflows/integration-test-vllm-sr-cli.yml
  e2e/testing/vllm-sr-cli/README.md
  e2e/testing/vllm-sr-cli/__init__.py
  e2e/testing/vllm-sr-cli/cli_test_base.py
  e2e/testing/vllm-sr-cli/run_cli_tests.py
  e2e/testing/vllm-sr-cli/test_integration.py
  e2e/testing/vllm-sr-cli/test_unit_init.py
  e2e/testing/vllm-sr-cli/test_unit_lifecycle.py
  e2e/testing/vllm-sr-cli/test_unit_serve.py
  tools/make/docker.mk
Due: md-fmt, yaml-and-yml-fmt

[Doc-zh] Add tutorials/intelligent-route/context-routing.md (#1191)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/context-routing.md
Due: md-fmt

feat: add few shot complexity aware signals (#1204)
  dashboard/backend/handlers/topology.go
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/CollapseControls.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
  dashboard/frontend/src/pages/topology/components/ControlPanel/TestQueryInput.tsx
  dashboard/frontend/src/pages/topology/components/ResultCard/ResultCard.module.css
  dashboard/frontend/src/pages/topology/components/ResultCard/ResultCard.tsx
  dashboard/frontend/src/pages/topology/components/ResultCard/index.ts
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/layoutCalculator.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/services/classification.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/intelligent-route/complexity-routing.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

fix(docs): fix typo
  website/i18n/zh-Hans/code.json
  website/src/pages/community/work-groups.tsx
Due: js-ts-lint

chore(docs): add npm scripts command
  tools/make/docs.mk
  website/package.json
Due: none
