Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make yaml-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check --no-default-features'
  language: system
  pass_filenames: false

[Docs] Add new cookbook catewary and common errors to troubleshooting (#818)
  website/docs/cookbook/categories-configuration.md
  website/docs/cookbook/classifier-tuning.md
  website/docs/cookbook/pii-policy.md
  website/docs/cookbook/vllm-endpoints.md
  website/docs/troubleshooting/common-errors.md
  website/sidebars.ts
Due: md-fmt, js-ts-lint

fix(ci): use minimal models for nightly performance baseline (#825)
  .github/workflows/performance-nightly.yml
Due: yaml-and-yml-fmt

[Feat] Feature: New Python-based Model Manager (#820)
  config/models.lora.yaml
  config/models.minimal.yaml
  config/models.yaml
  src/model_manager/__init__.py
  src/model_manager/__main__.py
  src/model_manager/cache.py
  src/model_manager/cli.py
  src/model_manager/config.py
  src/model_manager/downloader.py
  src/model_manager/errors.py
  src/model_manager/registry.py
  src/model_manager/requirements.txt
  src/model_manager/tests/__init__.py
  src/model_manager/tests/conftest.py
  src/model_manager/tests/test_cache.py
  src/model_manager/tests/test_cli.py
  src/model_manager/tests/test_downloader.py
  src/model_manager/tests/test_registry.py
  src/model_manager/tests/test_verifier.py
  src/model_manager/verifier.py
  tools/linter/codespell/.codespell.ignorewords
  tools/make/models.mk
Due: yaml-and-yml-fmt

Add hybrid routing tests, Keyword → Embedding → BERT → MCP (#829)
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/testcases/routing_fallback.go
  e2e/testcases/testdata/routing_fallback_cases.json
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Add Entropy testing for reasnoning decision acccording to probabilities calculation (#833)
  e2e/profiles/routing-strategies/profile.go
  e2e/testcases/entropy_routing.go
  e2e/testcases/testdata/entropy_routing_cases.json
  src/semantic-router/pkg/utils/entropy/entropy_test.go
Due: go-fmt, golang-lint

Disable the peformance comparision agaist baseline, keep just the perofrmance bench mark testing per PR (#836)
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
Due: yaml-and-yml-fmt

update: Improve Model Manager Configuration and CI Integration (#830)
  .github/workflows/integration-test-docker.yml
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  .github/workflows/test-and-build.yml
  config/model_manager/models.lora.yaml
  config/model_manager/models.minimal.yaml
  config/model_manager/models.yaml
  src/model_manager/README.md
  src/model_manager/cli.py
  src/model_manager/requirements.txt
  src/model_manager/tests/test_cli.py
  tools/make/models.mk
Due: md-fmt, yaml-and-yml-fmt

fix(dashboard): proxy Jaeger /dependencies route (#839)
  dashboard/backend/router/router.go
Due: go-fmt, golang-lint

Adding new tests for reasoning filter (#843)
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Due: go-fmt, golang-lint

[CI] e2e: add Response API basic operations tests (#826)
  .github/workflows/integration-test-docker.yml
  config/config.yaml
  e2e/README.md
  e2e/profiles/response-api/profile.go
  e2e/profiles/response-api/values.yaml
  e2e/testcases/response_api_basic.go
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

Sponsor: Add AMD Partnership (#847)
  README.md
  website/static/img/amd-logo.svg
Due: md-fmt

feat: add hallucination bench (#838)
  bench/hallucination/README.md
  bench/hallucination/__init__.py
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  bench/hallucination/datasets.py
  bench/hallucination/evaluate.py
  tools/make/build-run-test.mk
Due: md-fmt, yaml-and-yml-fmt

Test: Add comprehensive tests for PII and TLS utility modules (#840)
  .github/workflows/integration-test-dynamic-config.yml
  src/semantic-router/pkg/utils/pii/policy_test.go
  src/semantic-router/pkg/utils/tls/tls_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: regenerate package-lock.json with official npm registry (#846)
  dashboard/frontend/package-lock.json
Due: none

add fin benchmark (#851)
  bench/hallucination/__init__.py
  bench/hallucination/datasets.py
Due: none

feat: add configurable port support for Open WebUI iframe (#844)
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Due: js-ts-lint

feat: add upstream request span and trace context propagation for distributed tracing (#852)
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/observability/tracing/tracing_test.go
Due: go-fmt, golang-lint

refactor: remove unused MappingPath from FactCheckModelConfig (#854)
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  config/prompt-guard/prompt_guard.yaml
  config/semantic-cache/config.redis.yaml
  config/testing/config.hallucination.yaml
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: StatefulSet readiness detection and add Dynamo demo video (#856)
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  e2e/profiles/dynamo/profile.go
Due: go-fmt, golang-lint, md-fmt

Fix Domain Classifier Returns Empty or Wrong Classifications (#827)
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/decision_fallback.go
  e2e/testcases/plugin_config_variations.go
  e2e/testcases/testdata/decision_fallback_cases.json
  e2e/testcases/testdata/domain_classify_cases.json
  e2e/testcases/testdata/plugin_config_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
  src/training/classifier_model_fine_tuning/ft_linear.py
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Feat] All-in-One Docker image for single-container (#845)
  .github/workflows/docker-stack.yml
  Dockerfile.stack
  deploy/stack/README.md
  deploy/stack/config.stack.yaml
  deploy/stack/entrypoint-stack.sh
  deploy/stack/envoy.template.yaml
  deploy/stack/grafana-dashboard.yaml
  deploy/stack/grafana-datasource.yaml
  deploy/stack/prometheus.yaml
  deploy/stack/supervisord.stack.conf
  deploy/stack/vllm_semantic_router_pipe.py
Due: shellcheck, md-fmt, yaml-and-yml-fmt

Fix Playground tab to use backend proxy route instead of direct URL (#850)
  dashboard/backend/handlers/static.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Due: go-fmt, golang-lint, js-ts-lint

🔧 chore(ci): disable arm64 build in docker-stack workflow due to buildx limitations (#859)
  .github/workflows/docker-stack.yml
Due: yaml-and-yml-fmt

feat: Add dashboard checks and CI workflow (#861)
  .github/workflows/dashboard-test.yml
  Makefile
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/router/router.go
  dashboard/frontend/eslint.config.js
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  tools/make/dashboard.mk
Due: go-fmt, golang-lint, yaml-and-yml-fmt, js-ts-lint

fix: refactor documentation and improve clarity across multiple doc files (#865)
  candle-binding/README.md
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/openshift/README-DYNAMIC-IPS.md
  e2e-tests/hallucination-demo/README.md
  examples/candle-binding/README.md
  examples/mcp-classifier-server/README.md
  perf/testdata/examples/README.md
  src/training/dual_classifier/DUAL_CLASSIFIER_SYSTEM_TEST_SUMMARY.md
  website/README.md
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/docs/api/classification.md
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/docs/overview/categories/overview.md
  website/docs/overview/semantic-router-overview.md
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
  website/docs/tutorials/observability/overview.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Due: md-fmt

feat(hf-playground): add more models to hf playground (#864)
  tools/hf-playground/app.py
Due: none

chore: optimize dashboard deploy
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  dashboard/Dockerfile
  dashboard/README.md
  dashboard/backend/.gitkeep
  dashboard/backend/Dockerfile
  deploy/docker-compose/README.md
  deploy/docker-compose/docker-compose.yml
  tools/make/docker.mk
Due: md-fmt, yaml-and-yml-fmt

Created comprehensive test coverage in req_filter_tools_test.go with … (#848)
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt, golang-lint

ci(e2e): add per-profile e2e change detection and separate integration test triggers (#870)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

🔧 chore(ci): remove paths-ignore in integration test workflow (#873)
  .github/workflows/integration-test-dynamic-config.yml
Due: yaml-and-yml-fmt

Refactor embedding dimension validation
  src/semantic-router/pkg/apiserver/route_embeddings.go
Due: go-fmt, golang-lint

🔧 chore(ci): improve GitHub workflows for setup reliability and consistency (#860)
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

fix: enable kv cache for frontend in disaggregated router deployment and adding more categories to classifier (#869)
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  deploy/kubernetes/dynamo/dynamo-resources/dynamo-graph-deployment.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router/config.yaml
  e2e/profiles/dynamo/profile.go
  e2e/testcases/dynamo_category_classification.go
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

🔧 chore(build-cli): conditional rust build for build-cli. (#874)
  tools/make/build-run-test.mk
Due: none

extract C float-array conversion helper and deduplicate (#883)
  candle-binding/semantic-router.go
Due: go-fmt, golang-lint

Fix dashboard Playground OpenWebUI embed: iframe /workspace, proxy /workspace+/auth, and route OpenWebUI /api/v1 (#884)
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

fix(dashboard): add config validation and fix state mutation (#880)
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

fix(tsconfig): add ignoreDeprecations option to TypeScript configuration
  dashboard/frontend/tsconfig.json
Due: none

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
