Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

shellcheck:
  name: shellcheck
  entry: make shellcheck
  language: system

golang-lint:
  name: go lint
  entry: make go-lint
  language: system
  pass_filenames: false

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make yaml-lint"
  language: system

js-ts-lint:
  name: js/ts lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check --no-default-features'
  language: system
  pass_filenames: false

Fix(CI): pass the dashboard build failures (#887)
  .github/workflows/dashboard-test.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-stack.yml
  Dockerfile.stack
  dashboard/backend/Dockerfile
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

♻️ refactor(modeldownload): detect and use correct HuggingFace CLI command
  src/semantic-router/pkg/modeldownload/downloader.go
Due: go-fmt, golang-lint

deploy(k8s): remove llmd-base default namespace
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/dest-rule-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/httproute-openai.template
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-entry-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-openai.yaml
Due: yaml-and-yml-fmt

[CI] fix/llmd auth reviewer binding error and e2e ci-change filter (#894)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  e2e/profiles/llm-d/manifests/rbac.yaml
Due: yaml-and-yml-fmt

Docs: update installation guide with vLLM-SR cli
  README.md
  config/config.yaml
  src/semantic-router/pkg/config/config_test.go
  src/vllm-sr-cli/cli/consts.py
  src/vllm-sr-cli/cli/main.py
  src/vllm-sr-cli/config.yaml
  src/vllm-sr-cli/pyproject.toml
  src/vllm-sr-cli/scripts/publish.sh
Due: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt

Chore: Mask HF_token and Fix Lint errors
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config_test.go
  src/vllm-sr-cli/cli/main.py
  src/vllm-sr-cli/cli/templates/config.template.yaml
  src/vllm-sr-cli/pyproject.toml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

refactor(config): simplify external model configuration for guardrails (#899)
  README.md
  config/prompt-guard/prompt_guard.yaml
  config/prompt-guard/prompt_guard_external.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/external_model_test.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/k8s/converter.go
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

docs: simplify installation guide with PyPI-first approach
  README.md
  website/docs/cli/commands-reference.md
  website/docs/cli/overview.md
  website/docs/cli/troubleshooting.md
  website/docs/installation/installation.md
  website/docs/tutorials/integration/production-stack-integration.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/static/img/banner.png
Due: md-fmt, js-ts-lint

Feat(core): Add User Feedback Signals Support
  candle-binding/semantic-router.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/decision/engine.go
  src/vllm-sr-cli/cli/merger.py
  src/vllm-sr-cli/cli/models.py
  src/vllm-sr-cli/cli/templates/config.template.yaml
  src/vllm-sr-cli/cli/templates/router-defaults.yaml
  src/vllm-sr-cli/config.yaml
  src/vllm-sr-cli/pyproject.toml
Due: go-fmt, golang-lint, yaml-and-yml-fmt, cargo-fmt, cargo-check

Docs: Update Project with Diagrams
  README.md
  website/static/img/banner.png
  website/static/img/level.png
Due: md-fmt

feat(dashboard): replace external chat UI with native React component (#888)
  dashboard/backend/config/config.go
  dashboard/backend/main.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/playwright.config.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

feat(router): add preference-based routing via external LLM (#912)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/commands/serve.py
  src/vllm-sr/cli/commands/show_config.py
  src/vllm-sr/cli/defaults.py
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/pyproject.toml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

✨ feat(website): add react‑icons and use icons on team page (#914)
  website/package-lock.json
  website/package.json
  website/src/pages/community/team.tsx
Due: js-ts-lint

Fix dashboard config validation and routing for partial updates (Issue #857) (#909)
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

🔧 chore(ci): update Dockerfile paths to tools/docker (#915)
  .github/workflows/ci-changes.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/precommit-publish.yml
  deploy/docker-compose/docker-compose.ci.yml
  deploy/stack/README.md
  e2e/pkg/framework/runner.go
  tools/docker/Dockerfile
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc.cross
  tools/docker/Dockerfile.precommit
  tools/docker/Dockerfile.stack
  tools/docker/README.md
  tools/make/docker.mk
  tools/tracing/docker-compose.tracing.yaml
  website/docs/troubleshooting/network-tips.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

docs: add hallucination detection guide to content safety tutorials (#919)
  website/docs/tutorials/content-safety/hallucination-detection.md
  website/sidebars.ts
Due: md-fmt, js-ts-lint

Fix(CI): update decision engine to pass when no decision matched (#923)
  src/semantic-router/pkg/decision/engine_test.go
Due: go-fmt, golang-lint

📝 docs(pr-template): add CLI & Dashboard type to PR template (#924)
  .github/PULL_REQUEST_TEMPLATE.md
Due: md-fmt

Chore: clean-up unused files
  perf/CI-STRATEGY.md
  perf/QUICKSTART.md
  src/semantic-router/deploy/helm/semantic-router/templates/vllm.ai_intelligentpools.yaml
  src/semantic-router/deploy/helm/semantic-router/templates/vllm.ai_intelligentroutes.yaml
  src/semantic-router/deploy/kubernetes/crds/deploy/vllm.ai_intelligentpools.yaml
  src/semantic-router/deploy/kubernetes/crds/deploy/vllm.ai_intelligentroutes.yaml
  src/semantic-router/examples/decision-based-routing.yaml
  website/sidebars.ts
Due: md-fmt, yaml-and-yml-fmt, js-ts-lint

feat(dashboard,router): add enhanced UI components and signal tracking headers
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.module.css
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.module.css
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/MarkdownRenderer.tsx
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/components/ThinkingAnimation.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/main.tsx
  dashboard/frontend/src/pages/PlaygroundFullscreenPage.module.css
  dashboard/frontend/src/pages/PlaygroundFullscreenPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/pyproject.toml
Due: go-fmt, golang-lint, js-ts-lint

fix(ci): add npm package names to codespell ignore list
  tools/linter/codespell/.codespell.ignorewords
Due: none

fix: inject chat_template_kwargs=false when use_reasoning is disabled (Qwen3/DeepSeek) (#890)
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Due: go-fmt, golang-lint

docs: add NVIDIA Dynamo installation guide (#931)
  website/docs/installation/k8s/dynamo.md
  website/sidebars.ts
Due: md-fmt, js-ts-lint

Fix streaming cache: incremental chunks for cache hits + cache streaming responses (#937)
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
Due: go-fmt, golang-lint

docs: fix memory values in embedding routing performance table (#939)
  website/docs/tutorials/intelligent-route/embedding-routing.md
Due: md-fmt

[CI/Build][Dashboard] Fix OpenShift dashboard build context (#942)
  deploy/openshift/deploy-to-openshift.sh
Due: shellcheck

Update dashboard build to Go 1.24.1 (#941)
  dashboard/Dockerfile
Due: none

feat(dashboard): align dashboard with vllm-sr Python CLI (#932)
  dashboard/backend/Dockerfile
  dashboard/backend/go.mod
  dashboard/backend/handlers/logs.go
  dashboard/backend/handlers/status.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/LandingPage.tsx
  dashboard/frontend/src/pages/LogsPage.module.css
  dashboard/frontend/src/pages/LogsPage.tsx
  dashboard/frontend/src/pages/StatusPage.module.css
  dashboard/frontend/src/pages/StatusPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

fix(dashboard): correct CSS class names and CLI command reference
  dashboard/frontend/src/pages/LogsPage.tsx
  dashboard/frontend/src/pages/StatusPage.tsx
Due: js-ts-lint

Project: Update Team with New Members (#945)
  dashboard/frontend/src/pages/LandingPage.tsx
  website/docusaurus.config.ts
  website/package-lock.json
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/HomepageFeatures/styles.module.css
  website/src/components/TeamCarousel/index.tsx
  website/src/components/TeamCarousel/styles.module.css
  website/src/pages/community/team.module.css
  website/src/pages/community/team.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: js-ts-lint

💄 style(team): prevent company name wrap and fix spacing (#947)
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/TeamCarousel/index.tsx
  website/src/pages/community/team.module.css
  website/src/pages/community/team.tsx
  website/src/pages/index.tsx
Due: js-ts-lint

Project: update team member
  website/src/pages/community/team.tsx
Due: js-ts-lint

fix: regenerate response ID and timestamp for cache hits to enable proper observability (#946)
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
Due: go-fmt, golang-lint

Chore: Add alias for local model (#943)
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_test.go
Due: go-fmt, golang-lint

Fix(CI): Resolve the docs lint
  website/src/pages/community/team.tsx
Due: js-ts-lint

Fix stuck dashboard (#936)
  dashboard/README.md
  dashboard/backend/config/config.go
  dashboard/backend/main.go
  dashboard/backend/router/router.go
  deploy/docker-compose/docker-compose.yml
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  shellcheck: any of: \.sh$
  golang-lint: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-ts-lint: any of: \.(js|ts|tsx)$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
