Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python files only
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        files: \.(go|rs|py)$
    -   id: end-of-file-fixer
        files: \.(go|rs|py)$
    -   id: check-added-large-files
        args: ['--maxkb=500']
        files: \.(go|rs|py)$

# Go specific hooks
-   repo: local
    hooks:
    -   id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

# Rust specific hooks  
-   repo: local
    hooks:
    -   id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
    -   id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check'
        language: system
        files: \.rs$
        pass_filenames: false

# Python specific hooks
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    -   id: isort
        args: ["--profile", "black"]
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

refactor: k8s ci (#540)
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-shared-config.yml
  .github/workflows/k8s-validate-manifests.yml
  tools/github-action/cleanup-disk/action.yml
  tools/github-action/setup-kubetools/action.yml
Due: none

fix(website/news): fix the author name for decoding semantic router blog (#544)
  website/src/pages/news.js
Due: none

fix:hnsw heap polarity (#550)
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_hnsw_internal_test.go
Due: go-fmt

chore: upgrade rust version to 1.90 in all related Dockerfiles (#499)
  .github/workflows/test-and-build.yml
  Dockerfile.extproc
  Dockerfile.extproc.cross
Due: none

fix: /app/extproc-server: /lib64/libc.so.6: version GLIBC_2.39 not found (#551)
  Dockerfile
  Dockerfile.extproc
  Dockerfile.extproc.cross
  website/docs/troubleshooting/network-tips.md
Due: none

feat(routing): Implement in-tree keyword-based routing (#546)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/utils/classification/benchmark_regex_test.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Due: go-fmt

fix(k8s ci): extend wait windows in the workflow (#553)
  .github/workflows/k8s-kind-integration-test.yml
  deploy/kubernetes/deployment.yaml
Due: none

feat: fix quickstart.sh script (#548)
  .github/workflows/quickstart-integration-test.yml
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
  scripts/quickstart.sh
  tools/make/linter.mk
Due: none

feat(llm-katan): add CPU quantization for faster inference (#556)
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/llm_katan/cli.py
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/llm_katan/model.py
  e2e-tests/llm-katan/pyproject.toml
Due: none

Fix regression to Istio deployment caused by recent commits (#558)
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/pv-models.yaml
  deploy/kubernetes/istio/pvc.yaml
Due: none

docs: Add keyword classifier configuration guide (#559)
  website/docs/overview/categories/configuration.md
  website/docs/overview/categories/keyword-configuration.md
  website/sidebars.ts
Due: none

add wikipedia_data to .gitignore (#563)
  .gitignore
Due: none

docs: update architecture and add req flow (#562)
  README.md
  website/static/img/architecture.png
  website/static/img/flow.png
  website/static/img/mom-overview.png
Due: none

feat: add qwen3 lora adapter support in candle-binding (#549)
  .github/workflows/pre-commit.yml
  bench/data/test_data.json
  bench/scripts/rust/candle-binding/continuous_batch_bench.rs
  bench/scripts/rust/candle-binding/pure_batch_inference_bench.rs
  bench/scripts/rust/candle-binding/verify_batch_accuracy.rs
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/model_architectures/generative/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/generative/mod.rs
  candle-binding/src/model_architectures/generative/qwen3_guard.rs
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  candle-binding/src/model_architectures/lora/lora_adapter.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/prefix_cache.rs
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/qwen3_classification_api_test.rs
  examples/candle-binding/README.md
  examples/candle-binding/go.mod
  examples/candle-binding/qwen3_example.go
  examples/candle-binding/qwen3_example.rs
  examples/candle-binding/qwen3_guard_example.go
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  tools/linter/codespell/.codespell.ignorewords
  tools/make/rust.mk
Due: go-fmt, cargo-fmt, cargo-check

fix: make command warning & CI pre-commit error (#569)
  .github/workflows/pre-commit.yml
  README.md
  scripts/quickstart.sh
  tools/make/envs.mk
  tools/make/linter.mk
  tools/make/pre-commit.mk
Due: none

docs: fix the display of the mobile menu. (#570)
  website/src/components/ScrollToTop/styles.module.css
Due: none

refactor(config): reorganize configuration structure with hierarchical grouping (#574)
  src/semantic-router/cmd/main.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/apiserver/server_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/api.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
  tools/linter/go/.golangci.yml
Due: go-fmt

fix: building on non-cuda platforms without nvcc (#576)
  tools/make/rust.mk
Due: none

refactor(config): restructure config to use nested model objects (#577)
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt

paper: Category-Aware Semantic Caching for Heterogeneous LLM Workloads (#578)
  README.md
  website/src/pages/publications.js
Due: none

feat(router): add intent-aware LoRA routing support (#579)
  README.md
  config/intelligent-routing/in-tree/lora_routing.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
  website/docs/overview/categories/configuration.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/sidebars.ts
Due: go-fmt

test(e2e): expand classification coverage and fix cache test issues (#585)
  e2e-tests/03-classification-api-test.py
  e2e-tests/04-cache-test.py
Due: none

chore: help command for the makefile rollback (#583)
  tools/make/common.mk
Due: none

fix of deployment on openshift huggingface cli issues (#588)
  deploy/openshift/deployment.yaml
Due: none

feat(llm-d): integrate vsr with llm-d (#589)
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/dest-rule-epp-llama.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-phi4.yaml
  deploy/kubernetes/llmd-base/httproute-llama-pool.yaml
  deploy/kubernetes/llmd-base/httproute-phi4-pool.yaml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
Due: none

fix: correct HNSW frontier comparisons in hybrid cache (#587)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
Due: go-fmt

sync ps tutorial (#592)
  website/docs/tutorials/integration/production-stack-integration.md
Due: none

docs: update production stack guide
  website/docs/installation/configuration.md
  website/docs/installation/k8s/production-stack.md
  website/sidebars.ts
Due: none

feat: add integration with vLLM AIBrix (#599)
  deploy/kubernetes/aibrix/aigw-resources/base-model.yaml
  deploy/kubernetes/aibrix/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/deployment.yaml
  deploy/kubernetes/aibrix/semantic-router/kustomization.yaml
  deploy/kubernetes/aibrix/semantic-router/namespace.yaml
  deploy/kubernetes/aibrix/semantic-router/pv-models.yaml
  deploy/kubernetes/aibrix/semantic-router/service.yaml
  deploy/kubernetes/aibrix/semantic-router/tools_db.json
  tools/linter/codespell/.codespell.skip
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
  website/sidebars.ts
Due: none

refactor: router core (#601)
  config/intelligent-routing/in-tree/keyword.yaml
  deploy/kubernetes/ai-gateway/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_entropy_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/model_selector.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_jailbreak.go
  src/semantic-router/pkg/extproc/req_filter_models.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_sys_prompt.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/utils.go
Due: go-fmt

fix: resolve classify_unified_batch interior mutability issue (#596)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

fix: update BERT similarity model to all-MiniLM-L12-v2 and adapt tests for OnceLock (#600)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/init.rs
Due: go-fmt, cargo-fmt, cargo-check

fix: improve LoRA training stability and classifier learning (#590)
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Due: none

chore(github): update issue and PR templates
  .github/ISSUE_TEMPLATE/001_feature_request.yaml
  .github/ISSUE_TEMPLATE/002_bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add Blog for Modular LoRA (#534)
  website/blog/2025-10-25-modular-lora.md
  website/blog/authors.yml
  website/static/img/full-params.png
  website/static/img/lora.png
  website/static/img/modular.png
  website/static/img/team/ivar.jpeg
  website/static/img/team/onezero.jpeg
Due: none

[Blog]: Semantic Tool Selection (#604)
  website/blog/2025-11-07-semantic-tool-selection.md
  website/static/img/tools.png
Due: none

feat(website): simplify publications page UI and optimize mobile display (#605)
  website/src/css/custom.css
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Due: none

docs: redirect kubernetes installation page to ai-gateway guide (#603)
  README.md
  website/docs/installation/k8s/production-stack.md
  website/docs/installation/kubernetes.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/tutorials/integration/production-stack-integration.md
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Due: none
