Repository yuluo-yx/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, shellcheck, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Basic hooks for Go, Rust, Python And JavaScript files only
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        files: \.(go|rs|py|js)$
      - id: end-of-file-fixer
        files: \.(go|rs|py|js)$
      - id: check-added-large-files
        args: ["--maxkb=500"]
        files: \.(go|rs|py|js)$

  # Go specific hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: make shellcheck
        language: system
        files: \.sh$

  - repo: local
    hooks:
      - id: golang-lint
        name: go lint
        entry: make go-lint
        language: system
        files: \.go$
        pass_filenames: false

  # Markdown specific hooks
  - repo: local
    hooks:
      - id: md-fmt
        name: md fmt
        entry: bash -c "make markdown-lint"
        language: system
        files: \.md$
        exclude: ^(\node_modules/|CLAUDE\.md)

  # Yaml specific hooks
  - repo: local
    hooks:
      - id: yaml-and-yml-fmt
        name: yaml/yml fmt
        entry: bash -c "make yaml-lint"
        language: system
        files: \.(yaml|yml)$
        exclude: ^(\node_modules/)

  # JavaScript and TypeScript specific hooks
  - repo: local
    hooks:
      - id: js-ts-lint
        name: js/ts lint
        entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
        language: system
        files: \.(js|ts|tsx)$
        exclude: ^(\node_modules/)
        pass_filenames: false

  # Rust specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd candle-binding && cargo check --no-default-features'
        language: system
        files: \.rs$
        pass_filenames: false

  # Python specific hooks
  # Using only Black for Python formatting (simpler, no conflicts)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
        exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site-packages/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Dashboard: Refactor Reasoning Part (#1041)
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
Due: js-ts-lint

Dashboard: Refactor Landing Page (#1043)
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
Due: js-ts-lint

Dashboard: Update Landing Page UX (#1044)
  dashboard/frontend/src/pages/LandingPage.tsx
Due: js-ts-lint

Preload candidate embeddings once at startup and optionally use HNSW indexing for fast O(log n) similarity search (#1039)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/hnsw/hnsw.go
  src/semantic-router/pkg/hnsw/simd_distance_amd64.go
  src/semantic-router/pkg/hnsw/simd_distance_amd64.s
  src/semantic-router/pkg/hnsw/simd_distance_generic.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

fix: replace fake domain endpoints with 127.0.0.1:1 (#1055)
  src/semantic-router/pkg/cli/debug/checker_test.go
  src/semantic-router/pkg/cli/validator_test.go
Due: go-fmt, golang-lint

Docs: Update Dashboard and Release Info (#1056)
  README.md
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/installation/installation.md
  website/versioned_docs/version-v0.1/installation/installation.md
Due: md-fmt

Fix candle-flash-attn dependency to use git source for CUTLASS submodule (#1049)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
Due: none

[UX] add signal CURD for dashboard (#1063)
  dashboard/frontend/src/components/ViewModal.module.css
  dashboard/frontend/src/components/ViewModal.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: js-ts-lint

Update the documentation of installation llmd to use helm chart (#1064)
  deploy/kubernetes/llm-d/semantic-router-values/values.yaml
  website/docs/installation/k8s/llm-d.md
Due: md-fmt, yaml-and-yml-fmt

chore: fix models gitignore pattern and markdown linter exclusion (#1058)
  .gitignore
  tools/make/linter.mk
Due: none

chore: update testdata outputs with feedback_detector defaults (#1057)
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
Due: yaml-and-yml-fmt

Add a local-up-router.sh scrip for dockerless environment (#1059)
  Makefile
  scripts/local-up-router.sh
  tools/make/dockerless.mk
Due: shellcheck

Update istio documentation how to and helm chart values (#1053)
  deploy/kubernetes/istio/semantic-router-values/values.yaml
  website/docs/installation/k8s/istio.md
Due: md-fmt, yaml-and-yml-fmt

feat(test): More ExtProc test coverage (Issue #44) (#974)
  candle-binding/semantic-router_mock.go
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/hybrid_cache_stub.go
  src/semantic-router/pkg/cache/inmemory_cache_stub.go
  src/semantic-router/pkg/classification/unified_classifier.go
  src/semantic-router/pkg/classification/unified_classifier_stub.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt, golang-lint

feat: Lifetimes should be associated with individual cache entries (#1012)
  perf/go.mod
  perf/go.sum
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt, golang-lint

[CI] feat(response-api): add conversation chaining E2E tests and instructions inheritance (#1031)
  deploy/kubernetes/response-api/gwapi-resources.yaml
  deploy/kubernetes/response-api/mock-vllm.yaml
  e2e/pkg/framework/runner.go
  e2e/profiles/response-api/profile.go
  e2e/profiles/response-api/values.yaml
  e2e/testcases/response_api_basic.go
  e2e/testcases/response_api_conversation_chaining.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/responseapi/translator.go
  tools/mock-vllm/app.py
Due: go-fmt, golang-lint, yaml-and-yml-fmt

Fix the models missing and wrong model reference and the tests (#1068)
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_test.go
Due: go-fmt, golang-lint

[Docs] docs/enrich footer and contributing section (#1065)
  CONTRIBUTING.md
  website/docs/community/code-style.md
  website/docs/community/development.md
  website/docs/community/documentation.md
  website/docs/community/overview.md
  website/docs/community/translation-guide.md
  website/docs/intro.md
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/code-style.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/development.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/documentation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/translation-guide.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1.json
  website/i18n/zh-Hans/docusaurus-theme-classic/footer.json
  website/sidebars.ts
Due: md-fmt, js-ts-lint

chore(website): optimize navbar icons and remove deprecated pages (#1073)
  .pre-commit-config.yaml
  website/docusaurus.config.ts
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/src/css/custom.css
  website/src/pages/news.js
  website/src/pages/news.module.css
  website/src/pages/roadmap/roadmap.module.css
  website/src/pages/roadmap/v0.1.tsx
Due: yaml-and-yml-fmt, js-ts-lint

[Feat][Router]: Implement Router Replay plugin for debugging routing decisions (#1075)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/routerreplay/recorder.go
Due: go-fmt, golang-lint

feature: add more signals - language signal (#1052)
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/language_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/vllm-sr/cli/templates/config.template.yaml
  tools/linter/codespell/.codespell.ignorewords
  tools/make/linter.mk
  website/docs/installation/configuration.md
  website/docs/intro.md
  website/docs/overview/collective-intelligence.md
  website/docs/overview/goals.md
  website/docs/overview/signal-driven-decisions.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt, js-ts-lint

[Feat] add advanced tool filtering with confidence‑gated category filter and rerank (#1033)
  config/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/tools/relevance.go
  src/semantic-router/pkg/tools/relevance_test.go
  src/semantic-router/pkg/tools/tools.go
  website/docs/proposals/advanced-tool-filtering.md
  website/static/img/proposals/advanced-tool-filtering.png
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

[UX][Quality] Refactor and Decision CURD in dashboard (#1072)
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/ViewModal.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: js-ts-lint

fix(classification): enforce confidence threshold for domain signal matching (#1074)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/services/classification.go
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora_consistency.py
  tools/linter/codespell/.codespell.ignorewords
Due: go-fmt, golang-lint

[UX] Virtualize decision config form (#1078)
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
Due: js-ts-lint

💄 style(homepage): adjust hero flex and add spacing after badge icon (#1077)
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: js-ts-lint

Feat: Introducing Looper for Implementing Collective Algorithms (#1054)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_fact_check.go
  src/semantic-router/pkg/extproc/req_filter_jailbreak.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/ratings.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt, js-ts-lint

CI: Add Auto Release PyPI
  .github/workflows/pypi-publish.yml
Due: yaml-and-yml-fmt

[Docs:zh] add more signals - language signal (#1080)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: md-fmt

fix: enable response api profile e2e test (#1090)
  .github/workflows/integration-test-k8s.yml
  deploy/kubernetes/response-api/gwapi-resources.yaml
  e2e/profiles/response-api/profile.go
  e2e/profiles/response-api/values.yaml
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[Docs:en/zh] Fix foramt issues in overview/signal-driven-decisions.md (#1087)
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: md-fmt

feat(openshift): add auto model config and routing example (#1079)
  deploy/openshift/README.md
  deploy/openshift/config-openshift.yaml
Due: md-fmt, yaml-and-yml-fmt

Dashboard: Improve UX for unconfigured Grafana and Jaeger services (#1071)
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/ServiceNotConfigured.module.css
  dashboard/frontend/src/components/ServiceNotConfigured.tsx
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/TracingPage.tsx
Due: go-fmt, golang-lint, js-ts-lint

Docs: Sync Missing Blog from vLLM (#1096)
  website/blog/2025-11-19-signal-decision.md
  website/blog/2025-12-14-halugate.md
  website/blog/2025-12-16-vllm-sr-amd.md
  website/blog/2026-01-05-vllm-sr-iris.md
  website/blog/authors.yml
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
  website/src/components/TeamCarousel/index.tsx
  website/src/pages/community/team.tsx
  website/static/img/amd-0.png
  website/static/img/halugate-0.png
  website/static/img/iris-0.png
  website/static/img/signal-0.png
Due: md-fmt, yaml-and-yml-fmt, js-ts-lint

Feat(selection): implement advanced model selection methods (#1089)
  config/intelligent-routing/in-tree/model_selection_demo.yaml
  src/semantic-router/examples/selection/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/elo.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/hybrid.go
  src/semantic-router/pkg/selection/metrics.go
  src/semantic-router/pkg/selection/router_dc.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
  src/semantic-router/pkg/selection/static.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

[CLI][Bugfix] Fix init --force behavior and default model naming (#1108)
  src/vllm-sr/cli/commands/init.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/cli/templates/config.template.yaml
Due: yaml-and-yml-fmt

feat(memory): Add Redis storage backend for Response API (#1024)
  config/response-api/redis-cluster.yaml
  config/response-api/redis-production.yaml
  config/response-api/redis-simple.yaml
  config/testing/config.response-api-redis.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/responsestore/factory.go
  src/semantic-router/pkg/responsestore/helpers.go
  src/semantic-router/pkg/responsestore/interface.go
  src/semantic-router/pkg/responsestore/memory_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_integration_test.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  website/docs/tutorials/response-api/redis-cluster-storage.md
  website/docs/tutorials/response-api/redis-storage.md
Due: go-fmt, golang-lint, md-fmt, yaml-and-yml-fmt

[Misc] Deprecate semantic_cache.backend_config_path and embed backend config inline (#1100)
  config/semantic-cache/config.hybrid.yaml
  config/semantic-cache/config.redis.yaml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_cache_stub.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/router.go
Due: go-fmt, golang-lint, yaml-and-yml-fmt

feat(dashboard): add --readonly-dashboard flag for public beta deployments (#1113)
  dashboard/README.md
  dashboard/backend/config/config.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/backend/handlers/settings.go
  dashboard/backend/main.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/DataTable.tsx
  dashboard/frontend/src/components/ReadonlyBanner.module.css
  dashboard/frontend/src/components/ReadonlyBanner.tsx
  dashboard/frontend/src/components/TableHeader.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/vllm-sr/cli/main.py
  src/vllm-sr/start-dashboard.sh
Due: go-fmt, shellcheck, golang-lint, md-fmt, js-ts-lint
